@import '~/styles/variables.less';

.begrunnelseContainer {
    margin-bottom: @spacing;
}

.revurderingForhåndsvarsletContainer {
    margin-bottom: @spacing;

    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
}
