@import '@styles/variables.less';

.formContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.formInputsContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.postContainer {
    display: flex;
    align-items: flex-start;
    gap: @spacing-s;

    .label {
        display: flex;
        gap: @spacing-xs;
    }
}

.formButtonsContainer {
    display: flex;
    gap: @spacing-s;
}

.adresselinjeComponentContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.adresselinjeButtons {
    display: flex;
    gap: @spacing-s;
}
