@import '@styles/variables.less';

.formContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.formInputsContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.formButtonsContainer {
    display: flex;
    gap: @spacing-s;
}
