@import '@styles/variables.less';

.vedtakContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: @spacing;

    .vedtakSendtTilAttesteringAlertStripe {
        margin-top: @spacing;
    }

    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.oppsummeringsContainer {
    max-width: 950px;
    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.headerContainer {
    margin-bottom: @spacing;
}

.tilleggsinfoContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: @spacing;
    margin-bottom: @spacing-s;
}

.brevContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    margin-bottom: @spacing-s;
    align-items: flex-start;

    button {
        width: @knappBredde;
    }
}
.redigerKnapp {
    display: flex;
    height: 48px;
    margin-left: 50%;
    margin-top: -5rem;
}

.underkjenteAttesteringerContainer {
    margin-bottom: @spacing-xs;
}

.sidestiltOppsummeringContainer {
    margin-bottom: @spacing;
}

.fritekstareaOuterContainer {
    width: 1000%;
    justify-content: flex-start;
}

.fritekstareaContainer {
    max-width: 30rem;
    display: flex;
    flex-direction: column;

    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
}

.visBrevKnapp {
    width: fit-content;
}
