@import '@styles/variables.less';

.oppsummeringsContainer {
    max-width: 950px;
    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.headerContainer {
    margin-bottom: @spacing;
}

.tilleggsinfoContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: @spacing;
    margin-bottom: @spacing-s;
}

.brevContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    margin-bottom: @spacing-s;
    align-items: flex-start;

    button {
        width: @knappBredde;
    }
}

.underkjenteAttesteringerContainer {
    margin-bottom: @spacing-xs;
}

.sidestiltOppsummeringContainer {
    margin-bottom: @spacing;
}
