@import '~/styles/variables.less';

.årsakBegrunnelseContainer {
    margin-bottom: @spacing;
}

.beregningContainer {
    display: flex;

    > :not(:last-child) {
        margin-right: @spacing-xl;
    }
}

.ingenEndringInfoboks {
    margin-bottom: @spacing;
}

.ingenEndringContainer {
    margin-bottom: @spacing;

    .skalFøreTilBrevutsendingCheckbox {
        margin-bottom: @spacing;
    }
}

.opphørsadvarsel {
    margin-bottom: @spacing;
}

.sendtTilAttesteringContainer {
    margin-top: @spacing;
}
