@import '~/styles/variables.less';

.sidetittel {
    margin-bottom: @spacing;
}

.sakMedÅpenBehandlingContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: @spacing;
    > :not(:last-child) {
        margin-bottom: @spacing-xs;
    }
}

.tilSaksoversiktKnapp {
    align-self: flex-end;
}
