@import '~/src/styles/variables.less';

.formInputContainer {
    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.informasjonSomRevurderesCheckboxContainer {
    display: grid;
    grid-template-columns: 13em 13em;
}
