@import '~/src/styles/variables.less';

.modalContainer {
    max-width: max-content;
}

.merInfoButton {
    padding: 0.2rem 0.5rem;
}

.kravgrunnlagOppsummeringscontainer {
    display: flex;
    gap: @spacing-s;
}

.modalFooter {
    display: flex;
    flex-direction: column;
}

.modalFooterButtonsContainer {
    display: flex;
    gap: @spacing;
    justify-content: flex-end;

    button {
        margin: 0 !important;
    }
}
