@import '~/src/styles/variables.less';

.attesteringContainer {
    margin-left: 10vw;
}

.accordion {
    margin-bottom: @spacing-xs;
}

.oppsummeringContainer {
    margin-bottom: @spacing;
}

.opphørsadvarsel {
    display: flex;
    margin-bottom: @spacing;
}

.brevButton {
    width: @knappBredde;
    margin-bottom: @spacing;
}

.brevFeil {
    margin-bottom: @spacing;
}

.advarselContainer {
    margin-top: @spacing-xl;
}

.brevvalgContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    margin-bottom: @spacing-s;
}
