@import '~/src/styles/variables.less';

.attesteringContainer {
    //TODO - se på å maks-widthe revurderings oppsumeringen istedenfor.
    //den er litt funky under selve revurderingen
    max-width: 950px;
    margin-left: 10vw;
}

.accordion {
    margin-bottom: @spacing-xs;
}

.oppsummeringContainer {
    margin-bottom: @spacing;
}

.opphørsadvarsel {
    display: flex;
    margin-bottom: @spacing;
}

.brevButton {
    width: @knappBredde;
    margin-bottom: @spacing;
}

.brevFeil {
    margin-bottom: @spacing;
}

.advarselContainer {
    margin-top: @spacing-xl;
}

.brevvalgContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    margin-bottom: @spacing-s;

    .begrunnelseContainer {
        max-width: fit-content;
    }
}
