@import '~/styles/variables.less';

.pageContainer {
    display: flex;
    flex-direction: column;
    margin-top: @spacing;
    margin-left: 13rem;
    width: 50%;
}

.knappContainer {
    display: flex;
    gap: @spacing;
    margin-bottom: @spacing-xs;
}
