@import '~/styles/variables.less';

.pageContainer {
    display: flex;
    flex-direction: column;
    margin-top: @spacing;
    width: 50%;
}

.fantIkkevedtakFeilContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @spacing-xs;
    margin-top: @spacing;
}

.knappContainer {
    display: flex;
    gap: @spacing;
    margin-bottom: @spacing-xs;
}
