@import '~/styles/variables.less';

.form {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    align-self: flex-start;
    margin-top: 4em;
    margin-left: 4em;
}

.buttons {
    display: flex;
    gap: @spacing;
}
