@import '@styles/variables.less';

.form {
    display: flex;
    gap: @spacing-xl;
    margin-top: 4em;
    margin-left: 4em;
}

.opprettelseContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    align-self: flex-start;
}

.buttons {
    display: flex;
    gap: @spacing;
}

.journalpostIdLabel {
    display: flex;
    gap: @spacing-xxs;
}
