@import '@styles/variables.less';

.container {
    display: flex;
    align-items: center;
}

.etikett {
    margin-right: @spacing-xxs;
    color: red;
}

.black,
.etikett.black {
    color: white;
    background-color: #262626;
}

.personadvarselContainer {
    display: flex;
    gap: @spacing-xs;
    flex-wrap: wrap;
    align-items: center;
}
