version: 2

updates:
    - package-ecosystem: npm
      directory: '/'
      schedule:
          interval: weekly
      open-pull-requests-limit: 0
      ignore:
          - dependency-name: 'node'
          - dependency-name: 'yup'
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: daily
      open-pull-requests-limit: 0
    - package-ecosystem: npm
      directory: '/server'
      schedule:
          interval: weekly
      open-pull-requests-limit: 20
    - package-ecosystem: 'docker'
      directory: '/'
      schedule:
          interval: 'daily'
      open-pull-requests-limit: 0
