@import '~/src/styles/variables.less';

.dataCellButtonsContainer {
    display: flex;
    gap: @spacing-s;

    > * {
        width: 9em;
    }
}

.dataCellLink {
    width: 9em;
}

.knapper {
    display: flex;
    gap: @spacing-xs;
    margin-top: @spacing;
    flex-direction: row;
    justify-content: center;
}
