@import '~/styles/variables.less';

.framdriftsindikator {
    border-right: 1px solid @navLysGra;
    display: flex;
    flex-direction: column;
    padding: @spacing-s @spacing-s 0 @spacing-s;
    width: 13rem;

    .olTittel {
        margin-bottom: @spacing-xxs;
    }
}

.vilkårInfoContainer {
    display: flex;
    margin-bottom: @spacing-s;

    & p {
        align-self: center;
    }
}

.iconAndLineContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: @spacing-xxs;
}

.link {
    color: black;
    :visited {
        color: black;
    }
    :hover {
        color: @navBla;
    }
}
