NODE_ENV=development
APP_ENV=local
SU_SE_BAKOVER_AAD_APP_NAME=su-se-bakover
LOG_LEVEL=debug
AZURE_APP_CLIENT_ID=supstonad
AZURE_APP_CLIENT_SECRET=supstonad-secret
AZURE_OPENID_CONFIG_ISSUER=http://localhost:4321/default
AZURE_OPENID_CONFIG_JWKS_URI=http://localhost:4321/default/jwks
AZURE_OPENID_CONFIG_TOKEN_ENDPOINT=http://localhost:4321/default/token
UMAMI_SCRIPT_URL=
UMAMI_WEBSITE_ID=