version: '3.7'
services:
    mock-oauth2-server:
        image: docker.pkg.github.com/navikt/mock-oauth2-server/mock-oauth2-server:0.2.3
        ports:
            - 4321:4321
        hostname: localhost
        environment:
            SERVER_PORT: 4321
    redis:
        image: bitnami/redis:6.0
        ports:
            - 6379:6379
        container_name: redis
        restart: on-failure
        mem_limit: 64m
        environment:
            REDIS_PASSWORD: subar
