@import '~/styles/variables.less';
@import '~/styles/utils.less';

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-top: @spacing;

    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.alertstripe {
    margin-bottom: @spacing;

    &:focus {
        .focusOutline();
    }
}
