@import '~/styles/variables.less';

.container {
    border: 1px solid @navBorder;
    border-radius: @border-radius-base;
    width: 100%;
    background-color: @navBakgrunn;
}

.lilla {
    background-color: var(--navds-global-color-purple-100);
}

.grønn {
    background-color: var(--navds-global-color-green-100);
}

.tittel {
    padding: @spacing-xs;
    display: flex;
    align-items: center;

    .ikon {
        margin-right: @spacing-xs;
    }
}

.content {
    padding: @spacing;
}
