@import '@styles/variables.less';

.pageContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
    margin-left: 10vw;
    margin-top: @spacing;
}

.box {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    width: 35rem;
}

.buttonContainer {
    display: flex;
    gap: @spacing;
    justify-content: flex-start;
}
