@import '@styles/variables.less';

.menu {
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    background-color: #666666;

    .menuListItem {
        button {
            background-color: inherit;
            color: whitesmoke;
            border: none;
            padding: 5px;
        }

        &:hover {
            background-color: #7779f8;
        }
    }
}
