@import '~/styles/variables.less';

.fantIkkevedtakFeilContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @spacing-xs;
    margin-top: @spacing;
}

.oppsummeringContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.beslutningContainer {
    margin-bottom: @spacing-s;
}

.knapperContainer {
    display: flex;
    gap: @spacing;
    margin-bottom: @spacing;
}

.apiErrorContainer {
    width: 50%;
}

.underkjennelsesFormContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: @spacing-xs;
    margin-bottom: @spacing;
}
