@import '~/src/styles/variables.less';

.pageContainer {
    margin: 0 0 0 10vw;
}

.fantIkkevedtakFeilContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @spacing-xs;
    margin-top: @spacing;
}
