@import '~/src/styles/variables.less';

.formContainer {
    position: sticky;
    top: 50px;
}

.form {
    > * {
        margin-bottom: @spacing;
    }

    .undertittel {
        display: flex;
        justify-content: center;

        svg {
            margin-right: 8px;
        }
    }
}
