@import '~/styles/variables.less';

.container {
    .entry {
        display: flex;
        justify-content: space-between;
        margin-bottom: @spacing-xxs;
        padding-top: @spacing-s;
        padding-bottom: @spacing-s;

        .informasjonslinje {
            display: flex;
            gap: @spacing-xxs;
        }
    }

    .knapper {
        display: flex;
        align-items: center;
    }
}
