@import '~/src/styles/variables.less';

.form {
    > * {
        margin-bottom: @spacing;
    }
}

.accordionOverskrift {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: @spacing-xs @spacing-xs;
}

.accordionHeader {
    > :first-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.accordionHeaderContent {
    display: flex;
    align-items: center;
    gap: @spacing-xxs;
}

.accordionContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(350px, 47%));
    gap: @spacing;

    > :first-child {
        padding-right: @spacing;
        border-right: 1px solid @navBorder;
    }
}

.oppsummeringAvSøknadsformueContainer {
    margin-top: @spacing;
}
