@import '~/src/styles/variables.less';

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: @spacing-xs;
    margin-bottom: @spacing-s;
}

.begrunnelseContainer {
    max-width: fit-content;
}
