@import '~/src/styles/variables.less';

.metaInfoTittel {
    margin-bottom: @spacing-s;
}

.kravgrunnlagOppsummeringContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: @spacing-s;
    margin-bottom: @spacing;
}

.kravgrunnlagOppsummeringContainer_kompakt {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: @spacing-xs;
    margin-bottom: @spacing;
}

.grunnlagsbeløpContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: @spacing;
    gap: @spacing-xxs;

    .periodeMedBeløpContainer {
        > :first-child {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .knyttedeBeløpContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.grunnlagsbeløpContainer_kompakt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: @spacing-xxs;

    > :first-child,
    :nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.summerteBeløpContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;

    .summerteKnyttedeBeløpContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.summerteBeløpContainer_kompakt {
    display: flex;
    flex-direction: column;
    gap: @spacing-xxs;

    > :not(:first-child) {
        display: grid;
        gap: @spacing-xxs;
        grid-template-columns: repeat(2, 1fr);
    }
}
