@import '@styles/variables.less';

.trekkOppsummering {
    display: flex;
    flex-direction: column;
    gap: @spacing-xxs;
    grid-column: 1 / -1;
    margin-top: @spacing-s;
}

.trekkListe {
    margin: 0;
    padding-left: @spacing;
}
