@import '~/src/styles/variables.less';

.oppsummeringsContainer {
    max-width: 60%;
}

.oppsummeringstrippel {
    display: flex;
    justify-content: space-between;

    .oppsummeringsVerdier {
        display: grid;
        grid-template-columns: 18em 18em;
    }
}

.verdiElement {
    display: flex;
    flex-direction: column;
    margin-bottom: @spacing-xxs;
}
