@import '~/src/styles/variables.less';

.oppsummeringsContainer {
    display: grid;
    grid-template-columns: minmax(400px, 30vw);
}

.oppsummeringstrippel {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .oppsummeringsVerdier {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.verdiElement {
    display: flex;
    flex-direction: column;
    margin-bottom: @spacing-xxs;
}
