@import '@styles/variables.less';

.oppsummeringAvResultat {
    margin-bottom: @spacing-s;
}

.grunnlagsListe {
    > :not(:last-child) {
        margin-bottom: @spacing-xxs;
    }

    margin-bottom: @spacing;
}

.periode {
    display: grid;
    grid-template-columns: 10rem 10rem;
}

.formueGrunnlagContainer {
    margin-bottom: @spacing;
}

.formueTripple {
    display: grid;
    grid-template-columns: 10rem 4rem 4rem;
    gap: @spacing-xs;
}

.utenlandsinntektContainer {
    padding-left: @spacing;
}

.seSkattegrunnlagKnapp {
    padding: 0;
}
