@import '~/styles/variables.less';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @spacing-xxl;

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: @spacing-xs;
        border-bottom: 2px solid @navLysGra;
    }

    .content {
        max-width: @container-desktop;

        .navigeringContainer {
            display: flex;
            justify-content: space-between;
            margin-top: @spacing;
        }

        .tittelContainer {
            margin: @spacing 0;

            .pageTittel {
                margin-bottom: @spacing-xs;
            }
        }
    }
}

.formElement {
    margin-bottom: @spacing;
}
