@import '~/src/styles/variables.less';

.pageContainer {
    width: 100%;
}

.headingContainer {
    border-bottom: 2px solid black;
    margin-bottom: @spacing-s;

    .utenlandsoppholdHeading {
        margin-top: @spacing-s;
        margin-left: 10rem;
        margin-bottom: @spacing-s;
    }
}

.mainContentContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
    flex-wrap: wrap;
}

//-----------------------------------------------------------
.utenlandsoppholdContainer {
    min-width: 35rem;

    .heading {
        margin-bottom: @spacing-s;
    }
}

.avsluttEndringAvUtenlandsoppholdButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.inputFieldsContainer {
    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
    margin-bottom: @spacing;
}

.periodeFormMedDagerTeller {
    display: flex;
    gap: @spacing;

    .antallDagerTeller {
        position: relative;
        top: 45px;
    }
}

.select {
    max-width: 60%;
}

.grunnlagFormButtonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: @spacing;
}

.journalposterInputsContainer {
    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
}

.journalpostIdInputMedDelete {
    display: flex;
    gap: @spacing-xs;

    .fjernJournalpostButton {
        height: 40px;
        position: relative;
        top: 40px;
    }
}

//------------------------------------------------------
.oppsummeringAvRegistrerteUtenlandsoppholdContainer {
    .heading {
        margin-bottom: @spacing-s;
    }
    .panel {
        display: flex;
        gap: @spacing;
    }
}

.accordion {
    min-width: 50rem;
}

.filterContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: @spacing-xs;
    background: var(--navds-global-color-gray-200);
    padding: @spacing-xs @spacing @spacing;
}

.accordionHeaderContentContainer {
    display: flex;
    justify-content: space-between;
    min-width: 45rem;

    .warningOgAntallDagerContainer {
        display: flex;
        gap: @spacing-xs;
    }
}

.registrertUtenlandsoppholdContainer {
    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
}

.utenlandsoppholdMetadataContainer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.utenlandsoppholdPeriodecontainer {
    display: grid;
    grid-template-columns: repeat(2, 25%);
}

.journalposterContainer {
    display: flex;
    flex-direction: column;
}

.endreKnappContainer {
    display: flex;
    justify-content: flex-end;
}
