@import '@styles/variables.less';

.pageContainer {
    width: 100%;
}

.headingContainer {
    border-bottom: 1px solid black;
    margin-bottom: @spacing-s;

    .utenlandsoppholdHeading {
        margin-top: @spacing-s;
        margin-left: 10rem;
        margin-bottom: @spacing-s;
    }
}

.mainContentContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
    flex-wrap: wrap;
}
