@import '~/styles/variables.less';

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35rem;
    margin-bottom: @spacing-xxl;

    .tittel {
        margin-top: @spacing-xl;
        margin-bottom: @spacing-xs;
    }

    .section {
        margin-top: @spacing;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .paragraphSpacing {
        margin-top: @spacing-xs;
    }

    .list {
        .listItem {
            display: list-item;
            list-style-type: disc;
            margin-left: @spacing;
        }
    }

    .knappContainer {
        margin-top: @spacing-xl;
    }
}
