@import '~/src/styles/variables.less';

.container {
    padding: @spacing-s;
}

.successContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-xs;
    align-items: flex-start;
}
