@import '@styles/variables.less';

.container {
    padding: @spacing-s;
}

.helpText {
    margin-bottom: @spacing-s;
}

.inputContainer {
    margin-bottom: @spacing-s;
}

.successContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-xs;
    align-items: flex-start;
    margin-bottom: @spacing-s;
}

.beregnKnappContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    align-items: flex-start;
}
