@import '@styles/variables.less';

.fnrEndringsModal {
    width: 500px;
}

.merInfoButton {
    padding: 0.2rem 0.5rem;
}

.modalFooter {
    display: flex;
    flex-direction: column;
}

.modalFooterButtonsContainer {
    display: flex;
    gap: @spacing;
    justify-content: flex-end;

    button {
        margin: 0 !important;
    }
}
