.popoverContent {
    width: 100%;
}

.lukkKnappContainer {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;

    p {
        display: flex;
        align-items: center;
    }
}

.lukkKnappTekst {
    display: flex;
    align-items: center;
}
