@import '~/styles/variables.less';

.vedtakContainer {
    margin-bottom: @spacing-xxl;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 @spacing;

    .vedtakSendtTilAttesteringAlertStripe {
        margin-top: @spacing;
    }

    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.tittelContainer {
    margin: @spacing 0;

    .pageTittel {
        margin-bottom: @spacing-xs;
    }
}

.navigeringContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.fritekstareaOuterContainer {
    width: 100%;
}

.fritekstareaContainer {
    max-width: 30rem;
    display: flex;
    flex-direction: column;

    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
}

.fritekstarea {
    width: 100%;
    display: flex;
}

.visBrevKnapp {
    width: fit-content;
}
