@import '~/styles/variables.less';

.vedtakContainer {
    margin-bottom: @spacing-xl;

    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.pageTittel {
    margin-bottom: @spacing;
}

.statusContainer {
    margin-bottom: @spacing;
}

.navigeringContainer {
    display: flex;
    justify-content: space-between;
}

.vedtakSendtTilAttesteringAlertStripe {
    margin-top: @spacing;
}
