@import '~/src/styles/variables.less';

.periodePanel {
    margin-bottom: @spacing;
}

.periodeOgSøppelbøtteContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: @spacing-xs;
}
