@import '~/styles/variables.less';

.container {
    display: flex;

    width: 100%;
}

.framdriftsindikator {
    border-right: 1px dotted @navMorkGra;

    width: 12rem;
}

.content {
    width: 100%;
    padding-top: @spacing;
}
