@import '~nav-frontend-core/less/core';

//kommenterer ut mens dere er afk for å sjekke litt andre ting imens
// Hallo
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerContainer {
    .blokk()
}
