@import '~/styles/variables.less';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: @container-sm;
    padding: @spacing-s @spacing-l;
    margin-bottom: 80px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stegContainer {
    width: 100%;
}

.stegHeadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @spacing;
}

.sidetittelContainer {
    margin-bottom: @spacing-xs;
}
.personkortContainer {
    font-size: initial;
    font-weight: initial;
    line-height: initial;
}

.stegindikatorContainer {
    margin: @spacing-xs 0;
}

.feilmeldingTekst {
    margin-bottom: @spacing-s;
}
