@import '~/src/styles/variables.less';

.container {
    width: 100%;
}

.topspacer {
    height: @spacing-l;
}

.infostripe {
    text-align: center;
    padding: var(--a-spacing-3) 0;
    min-height: @spacing-l;

    &.alder {
        background-color: var(--a-purple-100);
    }

    &.ufore {
        background-color: var(--a-green-100);
    }
}

.contentContainer {
    max-width: @container-md;
    margin: 0 auto @spacing-xxl auto;
    background-color: @navBakgrunn;
}

.content {
    max-width: @container-sm;
    margin: 0 auto;
    padding: @spacing-xl 0;
}

.stegHeadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @spacing;

    &:focus {
        outline: none;
    }
}

.feilmeldingContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.feilmeldingTekst {
    margin-bottom: @spacing-s;
}

.stepperContainer {
    margin-bottom: @spacing-s;
}
