@import '~/styles/variables.less';

.container {
    --su-soknad-spacing-default: var(--navds-spacing-8);

    width: 100%;
}

.oppsummeringDetaljrad {
    display: flex;
    gap: var(--su-soknad-spacing-default);
    padding-left: var(--su-soknad-spacing-default);
}

.leggTilFeltKnapp {
    display: flex;
    justify-content: flex-end;
    margin-bottom: @spacing-xs;
}

.marginBottom {
    margin-bottom: var(--su-soknad-spacing-default);
}

/* TODO:
Har med not(input) her fordi i ds-react så vil klassenavn man sender inn til f.eks. TextField
settes både på containeren og på input-elementet.
Dette skal fikses i ds-react, og denne hacken bør følgelig fjernes når det er gjort.
*/
.narrow:not(input) {
    width: 50%;
}

.inputFelterOgFjernKnappContainer {
    display: flex;
    margin-bottom: @spacing;
    justify-content: space-evenly;
    gap: @spacing-xs;

    .fjernradknapp {
        align-self: flex-end;

        &.skjult {
            visibility: hidden;
        }
    }

    &.radfeil {
        .fjernradknapp {
            align-self: center;
        }
    }
}
