@import '~/styles/variables.less';

.container {
    width: 100%;
}

.formContainer {
    .blokk();
}

.sporsmal {
    .blokk-s();
}

.inputFelterDiv {
    display: flex;
    justify-content: space-around;
    margin-bottom: @spacing-l;
}

.leggTilFeltKnapp {
    display: flex;
    justify-content: flex-end;
    margin-bottom: @spacing-xs;
}

.marginBottom {
    margin-bottom: @spacing-l;
}

.inputFelterOgFjernKnappContainer {
    display: flex;
    margin-bottom: @spacing;
    justify-content: space-evenly;
    > :not(:last-child) {
        margin-right: @spacing-xs;
    }

    .fjernradknapp {
        align-self: flex-end;

        &.skjult {
            visibility: hidden;
        }
    }

    &.radfeil {
        .fjernradknapp {
            align-self: center;
        }
    }
}
