@import '~nav-frontend-core/less/core';

.container {
    width: 100%;
    max-width: @container-sm;
}

.formContainer {
    .blokk()
}

.sporsmal {
    .blokk-s()
}

//TODO: sannsynligvis gjøres bedre
.inputFelterDiv {
    display: flex;
    justify-content: space-around;
}
.inputFelt {
    margin-top: 1em;
}

.leggTilFeltKnapp {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.fjernFeltLink {
    align-self: center;
}

