@import '~/src/styles/variables.less';

.tittel {
    margin-top: @spacing-s;
}

.container {
    width: 100%;
    max-width: @container-md;
    margin: @spacing-l auto @spacing-xxl auto;
    background-color: @navBakgrunn;
}

.content {
    width: 100%;
    max-width: @container-sm;
    margin: 0 auto;
    padding: @spacing-l 0;
}

.linkgruppe {
    --navds-panel-color-border: #c3c3c3;
    --navds-panel-border-radius: 2px;

    & > * {
        margin-top: @spacing;
        padding: @spacing;
    }

    button {
        margin-top: @spacing-s;
    }
}
