@import '~/src/styles/variables.less';

.søknadsvelger {
    .buttonGroup {
        display: flex;
        margin-top: @spacing;

        > :first-child {
            margin-right: @spacing;
        }
    }
}
