@import '~/src/styles/variables.less';

.tittel {
    margin-top: @spacing-s;
}

.linkgruppe {
    --navds-panel-color-border: #c3c3c3;
    --navds-panel-border-radius: 2px;

    & > * {
        margin-top: @spacing;
        padding: @spacing;
    }

    button {
        margin-top: @spacing-s;
    }
}
