@import '~/styles/variables.less';

.buttonContainer {
    margin-top: @spacing;
}

.navigationButtonContainer {
    margin-bottom: @spacing;

    :first-child {
        margin-right: @spacing;
    }
}
