@import '~/src/styles/variables.less';

.hjelpetekstKnapp {
    width: 100%;
    background-color: inherit;
    display: flex;
    border: none;
    padding: 0;
    color: var(--a-blue-500);
    margin-bottom: @spacing-xxs;
    cursor: pointer;
}

.hjelpetekstBody {
    margin-bottom: @spacing-xs;
}

.periodeFormContainer {
    display: flex;
    gap: @spacing;
}

.dato {
    max-width: 11.75rem;
}
