@import '~/src/styles/variables.less';

.hjelpetekstKnapp {
    width: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    color: var(--a-blue-500);
    margin-bottom: @spacing-xxs;
    text-decoration: underline;
    cursor: pointer;

    > :nth-last-child(-n + 2) {
        align-self: flex-start;
    }
}

.hjelpetekstBody {
    margin-bottom: @spacing-xs;
}

.periodeFormContainer {
    display: flex;
    gap: @spacing;
}

.dato {
    max-width: 11.75rem;
}
