@import '~/styles/variables.less';

.hjelpetekstContainer {
    .hjelpetekstKnapp {
        background-color: inherit;
        display: flex;
        align-items: center;
        border: none;
        padding: 0;
        color: var(--navds-global-color-blue-500);
        margin-bottom: @spacing-xxs;
        text-decoration: underline;
        cursor: pointer;
    }

    .hjelpetekstBody {
        margin-bottom: @spacing-xs;
    }
}
