@import '~/src/styles/variables.less';

.utbetalingsrevurderingContainer {
    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.oppsummeringspanelChildrenContainer {
    display: flex;
    gap: @spacing;
}
