@import '~/src/styles/variables.less';

.formHeading {
    margin-bottom: @spacing-s;
}

.brevContainer {
    margin-bottom: @spacing;

    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
}

.begrunnelseContainer {
    margin-bottom: @spacing;
}

.apiErrorAlert {
    margin-bottom: @spacing-s;
}
