@import '@styles/variables.less';

.oppsummeringspageContainer {
    max-width: 900px;

    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.oppsummeringspanel {
    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.notat {
    white-space: pre-wrap;
}

.metaInfoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: @spacing-s;
    margin-bottom: @spacing;
}

.brevButton {
    width: @knappBredde;
}
