@import '@styles/variables.less';

.pageContainer {
    width: 100%;
}

.tittel {
    width: 100%;
    padding: @spacing-xs 13rem;
    border-bottom: 1px solid @navBorder;
}

.mainContent {
    display: flex;
    flex-direction: column;
    padding: @spacing-xs 13rem;
}

.opprettOppdaterContainer {
    max-width: 35%;
}

.oppsummeringContainer {
    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }

    max-width: 50%;
}

.oppsummeringsknapperContainer {
    display: flex;
    gap: @spacing;
}
