@import '~/styles/variables.less';

.beregningContainer {
    display: flex;
    flex-direction: row;

    .startBeregningKnapp {
        margin-right: @spacing-s;
    }
}

.tittel {
    margin-bottom: @spacing;
}

.visBeregning {
    margin-right: @spacing-xl;
}

.sats {
    margin-bottom: @spacing;
}

.datovelgerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: @spacing-s;

    .datovelger:not(:last-child) {
        margin-right: @spacing-s;
    }
}

.feiloppsummering {
    margin-bottom: @spacing-l;
}

.fradragContainer {
    margin-bottom: @spacing;
}

.fradragItemContainer {
    margin-bottom: @spacing;
}

.fradragTypeOgBelopContainer {
    display: flex;
    justify-content: space-between;

    .fradragtype {
        margin-right: @spacing-s;
    }
}
