@import '~/styles/variables.less';

.tittel {
    margin-bottom: @spacing;
}

.grunndata {
    margin-bottom: @spacing-xxs;
}

.infolinje {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fradragItem {
    display: flex;
    flex-direction: column;
}

.fradragKommentar {
    align-self: flex-end;
    font-style: italic;
}
