@import '@styles/variables.less';

.modal {
    max-width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.actions {
    display: flex;
    justify-content: flex-start;
}
