@import '~/src/styles/variables.less';

.statusContainer {
    display: flex;
    margin-bottom: @spacing;
    gap: @spacing-xs;
}

.status {
    display: flex;
    align-items: center;
    gap: @spacing-xs;
}

.statusInformasjon {
    display: flex;
    gap: @spacing-xxs;
}

.totalFormueContainer {
    margin-bottom: @spacing-xxs;
}
