@import '~/src/styles/variables.less';

.pageContainer {
    width: 900px;
}

.accordionOverskrift {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: @spacing-xs @spacing-xs;
}

.accordionHeaderContentContainer {
    display: flex;
    justify-content: space-between;
    width: 50em;
    max-width: 100%;
}

.accordionHeaderContent {
    display: flex;
    align-items: center;
    gap: @spacing-xxs;
}

.accordionContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: @spacing;

    > :first-child {
        padding-right: @spacing;
        border-right: 1px solid @navBorder;
    }
}
