@import '~/styles/variables.less';

.pageContainer {
    width: 100%;
}

.pageTittel {
    width: 100%;
    padding: @spacing-xs 10rem;
    border-bottom: 1px solid @navBorder;
}

.klageContainerMedFramdriftsindikator {
    display: flex;
}

.klageStegContainer {
    width: 40%;
    margin-left: @spacing-xs;
}

.container {
    display: flex;
    margin: @spacing-s 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.buttons {
    display: flex;
    gap: @spacing;
}
