@import '~/styles/variables.less';

.lovligOppholdFaktaBlokk {
    margin-bottom: @spacing-xxs;
}

.lovligOppholdFaktaBlokkContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.datoFelterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: @spacing-xs;
}

.formueFraSøknad {
    font-weight: bold;
    font-size: 18px;
}

.formueFaktaBlokk {
    margin-bottom: @spacing-xxs;
}
