@import '~nav-frontend-core/less/core';

@spacing-xxxs: 4px;
@spacing-xxs: 0.5rem;
@spacing-xs: 1rem;
@spacing-s: 20px;
@spacing: 2rem;
@spacing-l: 2.5rem;
@spacing-xl: 4rem;
@spacing-xxl: 80px;

@navgra60: #78706a;
@navbla: #0067c5;
@fokusFarge: #254b6d;
@navLysGra: #e7e9e9;
