@spacing-xxxs: var(--a-spacing-1);
@spacing-xxs: var(--a-spacing-2);
@spacing-xs: var(--a-spacing-4);
@spacing-s: var(--a-spacing-5);
@spacing: var(--a-spacing-8);
@spacing-l: var(--a-spacing-10);
@spacing-xl: var(--a-spacing-16);
@spacing-xxl: var(--a-spacing-20);

@knappBredde: 14em;

@navBorder: var(--a-border-default);
@navBakgrunn: var(--a-bg-default);

// https://github.com/navikt/nav-frontend-core/blob/162c248da84041fa91bbcd8eadb8449bc90e8556/less/_variabler.less

@grid-gutter-width: @spacing-xs;
@container-tablet: calc(720px + @grid-gutter-width);
@container-sm: @container-tablet;
@container-desktop: calc(940px + @grid-gutter-width);
@container-md: @container-desktop;

@border-radius-base: @spacing-xxxs;
