@import '@styles/variables.less';

.container {
    display: flex;
    align-items: center;
    gap: @spacing;
    width: 60%;
    margin: 0 auto;

    .navKnapp {
        flex: 1;
    }
}

.avbrytknappContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: @spacing;
}

.avbrytknapp {
    width: 60%;
}

.modalContainer {
    display: flex;
    flex-direction: column;

    .modalKnappContainer {
        margin-top: @spacing;
        align-self: flex-end;
    }
}
.warningAlert{
    margin-bottom: @spacing;
}