@import '~/src/styles/variables.less';

.oppsummeringAvJournalposterContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.journalpostDetalje {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
