@import '@styles/variables.less';

.oppsummeringAvJournalposterContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-xxs;
}

.journalpostDetalje {
    display: grid;
    grid-template-columns: 5rem 1fr;
}
