@import '~/src/styles/variables.less';

.grunnlagsperioderContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    margin-bottom: @spacing-s;
}

.periodePanel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
