@import '~/styles/variables.less';

.boldP {
    font-weight: bold;
    margin-bottom: @spacing-xxs;
}

.panelMargin {
    margin-bottom: @spacing-l;
}

.marginTopXSS {
    margin-top: @spacing-xxs;
}
