@import '~/src/styles/variables.less';

.accordionOverskrift {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: @spacing-xs @spacing-xs;
}

/**
 * overrider inline div styling for at accordion skal få bruke bredden som åpen state
 * Desom dette fjernes, vil accordion bredden endres for hver gang man åpner / lukker den
 */
.accordionItem {
    > :last-child > div {
        display: block !important;
    }
}

.accordionHeader {
    > :first-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.accordionHeaderContent {
    display: flex;
    align-items: center;
    gap: @spacing-xxs;
}

.accordionContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: @spacing;

    > :first-child {
        padding-right: @spacing;
        border-right: 1px solid @navBorder;
    }
}

.oppsummeringAvSøknadsformueContainer {
    margin-top: @spacing;
}
