@import '@styles/variables.less';

.accordionOverskrift {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: @spacing-xs @spacing-xs;
}

/*
 Vi vil ikke at accordion bredden skal endres når den iteme åpnes / lukkes
 */
:global(.navds-accordion__content--closed) {
    display: block;
    visibility: hidden;
    height: 0px;
    padding: 0;
    margin: 0;
}

.accordionHeader {
    > :last-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.accordionHeaderContent {
    display: flex;
    align-items: center;
    gap: @spacing-xxs;
}

.accordionContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: @spacing-xs;

    > :first-child {
        padding-right: @spacing-xs;
        border-right: 1px solid @navBorder;
    }
}

.oppsummeringAvSøknadsformueContainer {
    margin-top: @spacing;
}
