@import '~/styles/variables.less';

.datoForInnlegelseContainer {
    margin-bottom: @spacing;
}

.datoForUtskrivelseContainer {
    display: flex;
    align-items: flex-end;

    .datoForUtskrivelse {
        margin-right: @spacing-s;
    }
}
