@import '~/styles/variables.less';

.innlagtPåInstitusjonFelter {
    margin-bottom: @spacing;
}

.datoForInnleggelseContainer {
    margin-bottom: @spacing-s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .datepickerContainer {
        border: 2px solid #ba3a26;
        border-radius: 7px;
    }
}

.datoForUtskrivelseContainer {
    display: flex;
    align-items: flex-end;

    .datoForUtskrivelse {
        margin-right: @spacing-s;

        .datepickerContainer {
            border: 2px solid #ba3a26;
            border-radius: 7px;
        }
    }
}

.adresse {
    margin-bottom: @spacing-xxs;
}

.undertittelForAdresse {
    margin-top: -@spacing-xxs;
    margin-bottom: @spacing-xs;
}
