@import '~/styles/variables.less';

.epsFormContainer {
    margin-bottom: @spacing-s;
}

.ukjentFnr {
    margin: @spacing-xs 0;

    > :first-child {
        margin-bottom: @spacing-s;
    }
}

.ufør {
    margin-top: @spacing-s;
}
