@import '~/styles/variables.less';

.oppsummeringPage {
    display: flex;
    flex-direction: column;
    margin-top: @spacing;
    width: 50%;
}

.oppsummeringPanelContainer {
    margin-bottom: @spacing;
}

.panelInnholdContainer {
    .informasjonsContainer {
        margin-bottom: @spacing;
    }

    .informasjonsContentContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: @spacing-xs;
        gap: @spacing-s;

        .tekstMaxBredde {
            max-width: 240px;
        }
    }
}

.hjemlerContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.formkravBegrunnelse {
    white-space: pre-wrap;
}

.vurdering {
    display: flex;
    align-items: center;
    gap: @spacing-xxs;

    .tag {
        height: 1.5rem;
        width: 1.5rem;
        color: var(--navds-semantic-color-feedback-info-icon);
    }
}
