@import '~/src/styles/variables.less';

.oppsummeringPage {
    display: flex;
    flex-direction: column;
    margin-top: @spacing;
    width: 50%;
}

.panelInnholdContainer {
    .informasjonsContainer {
        margin-bottom: @spacing;
    }
}

.informasjonsContentContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: @spacing-xs;
    gap: @spacing-s;

    .tekstMaxBredde {
        max-width: 15rem;
    }
}

.hjemlerContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.formkravBegrunnelse {
    white-space: pre-wrap;
}

.vurdering {
    display: flex;
    align-items: center;
    gap: @spacing-xxs;
    margin-bottom: @spacing;

    .tag {
        height: 1.5rem;
        width: 1.5rem;
        color: var(--a-surface-info);
    }
}

.seBrevContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: @spacing-xs;

    button {
        width: @knappBredde;
    }
}
