@import '@styles/variables.less';

.vedtakContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 @spacing-xxl 0vw;
    padding-top: @spacing;

    .vedtakSendtTilAttesteringAlertStripe {
        margin-top: @spacing;
    }

    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.tittelContainer {
    margin: @spacing 0;

    .pageTittel {
        margin-bottom: @spacing-xs;
    }
}

.navigeringContainer {
    display: grid;
    grid-template-columns: repeat(2, @knappBredde);
    gap: @spacing;
}

.fritekstareaOuterContainer {
    width: 100%;
}

.fritekstareaContainer {
    max-width: 30rem;
    display: flex;
    flex-direction: column;

    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
}

.visBrevKnapp {
    width: fit-content;
}

.legendWithInfo {
  display: inline-flex;
  align-items: center;
  gap: 6px;

}

.infoIconWrapper {
  position: relative;
  display: inline-flex;
}

.infoText {
  display: none;
  position: absolute;
  top: calc(100% + 6px);
  left: 0;

  min-width: 600px;
  max-width: 600px;

  padding: 6px 8px;

  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;

  font-size: 15px;
  z-index: 10;

}

.infoIconWrapper:hover .infoText{
    display: block;
}

