@import '~/styles/variables.less';

.container {
    display: flex;
    flex-wrap: wrap;
    padding: @spacing-xs 0 @spacing-l 0;
}

.datoContainer {
    display: flex;
    flex-direction: column;
    margin-right: @spacing-xs;
}

.beregningsContainer {
    border-bottom: 1px solid @navLysGra;
    padding: @spacing-xs 0 @spacing-l 0;
}

.feiloppsummering {
    margin-bottom: @spacing;
}
