@import '~/styles/variables.less';

.tittel {
    margin-bottom: @spacing;
}

.visBeregningTittel {
    margin-bottom: @spacing-s;
}

.grunndata {
    margin-bottom: @spacing-xxs;
}

.fradragItem {
    display: flex;
    flex-direction: column;
    margin-bottom: @spacing-xs;
}

.fradragKommentar {
    align-self: flex-end;
    font-style: italic;
}

.totalBeløp {
    margin: @spacing-s;
    text-align: center;
}

.forventetinntektFradrag {
    margin-top: @spacing-s;
}

.beregningdetaljer {
    .linje {
        display: flex;
        justify-content: space-between;
    }

    .linjeEpsUtland {
        display: flex;
        justify-content: space-between;
        padding-left: @spacing-xs;
    }

    .totalt {
        margin-bottom: @spacing;
    }

    .periodeoverskrift {
        margin-bottom: @spacing-xxs;
    }

    .fradragliste {
        width: 100%;
        margin-bottom: @spacing;

        li {
            line-height: 2.5rem;
        }
    }

    .detaljertfradrag {
        width: 100%;
    }

    .detaljertFradragliste {
        padding-left: @spacing-xs;
    }
}
