@import '~/styles/variables.less';

.periodeliste {
    margin-bottom: @spacing;
}

.fradragperiodeHeader {
    margin-bottom: @spacing-xxs;
}

.fradragliste {
    margin-bottom: @spacing-s;
    > li {
        margin-bottom: @spacing-xxs;
    }
}

.linje {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: @spacing-xxs;

    .detailedLinje {
        margin-left: @spacing;
    }

    :nth-child(even) {
        text-align: end;
    }
}
