@import '~/styles/variables.less';

.container {
    display: flex;
    gap: @spacing-xs;

    .column {
        width: 50%;
    }
}

.alert {
    margin-bottom: @spacing;
}

.avkorting {
    margin-top: @spacing;

    .avkortingContent {
        margin-left: @spacing-xs;

        .avkortingListe {
            margin-top: @spacing-xs;

            li {
                display: flex;
                flex-direction: row;
                gap: @spacing-l;
            }
        }
    }
}
