@import '@styles/variables.less';

.seBrevButton {
    width: 5rem;
}

.vedtaksbrevDataCell {
    max-width: 25rem;

    > :not(:last-child) {
        margin-bottom: @spacing-xs;
    }
}

.startNyBehandlingDataCellContainer {
    width: 15%;
}
