@import '~/styles/variables.less';

.oppsummeringContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @spacing-xxl;
    width: 100%;
    max-width: @container-desktop;

    .tilbakeLinkContainer {
        margin-top: @spacing;
    }
}
