@import '~/styles/variables.less';

.uføreAndFeilmeldingInputContainer {
    margin-bottom: @spacing-s;

    .uføreInputContainer {
        display: flex;
        align-items: center;
        margin-right: @spacing-s;

        .uførehetInputFelt {
            margin-right: @spacing-xxs;
        }
    }
}

.radioGruppe {
    margin-bottom: @spacing-xxs;
}

.uføregrunnlagInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-bottom: @spacing-xxs;

    .periode {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .uføre {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .datoContainer {
        display: flex;
        flex-direction: row;
    }

    .fjernFeltButton {
        display: flex;
        align-self: flex-end;
    }

    .søppelbøtteContainer {
        align-self: flex-end;
        height: 40px;
        width: 40px;
        padding: 0;
    }
}
