@import '~/src/styles/variables.less';

.borSøkerMedEpsContainer {
    margin-bottom: @spacing-s;
}

.fnrInputContainer {
    margin-bottom: @spacing-s;
    max-width: 20rem;
}

.modalInnhold {
    padding: @spacing-xs;
    max-width: @container-sm;
}

.modalTekst {
    margin: @spacing 0;
}
