@import '~/styles/variables.less';

.form {
    > * {
        margin-bottom: @spacing;
    }

    .heading {
        font-weight: 400;
    }

    .undertittel {
        display: flex;
        justify-content: center;

        svg {
            margin-right: 8px;
        }
    }
}
