@import '~/styles/variables.less';

.periodeContainer {
    padding: @spacing-xs 0 @spacing-l 0;

    .datoContainerWrapper {
        display: flex;
        flex-wrap: wrap;

        .datoContainer {
            display: flex;
            flex-direction: column;
            margin-right: @spacing-xs;
        }
    }
}
