@import '~/styles/variables.less';

.personkortContainer {
    margin-bottom: @spacing;

    .personkortTittel {
        margin-bottom: @spacing-xs;
    }
}

.epsFeilContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: @spacing;
    margin-left: @spacing;
    > :not(:last-child) {
        margin-bottom: @spacing-xs;
    }
}

.textareaContainer {
    margin-bottom: @spacing;
}
