@import '~/styles/variables.less';

.ekspanderbarOppsumeringSeksjon {
    margin: @spacing-xs;
    border-bottom: 2px solid black;
}

.oppsummeringsfelt {
    .blokk-s();
}

.endreSvarContainer {
    margin-top: @spacing-l;
    color: #0067c5;
    cursor: pointer;
}

.marginRight {
    margin-right: @spacing-xs;
}

.oppsummeringsfeltArrayContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .oppsummeringElement {
        margin-bottom: @spacing-s;
    }
}
