@import '~/styles/variables.less';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: @spacing-l;

    .personkortWrapper {
        margin-left: @spacing-s;
    }
}

.feiloppsummering {
    margin-bottom: @spacing;
}

.successknapper {
    display: flex;
    justify-content: center;
}
