@import '~/styles/variables.less';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.inputs {
    margin-bottom: @spacing-s;
}

.submitknapp {
    width: 100%;
}

.sokerinfo {
    margin-bottom: @spacing-l;

    > div {
        display: flex;
        justify-content: space-between;
    }

    .sokerinfoLabel {
        font-weight: 700;
        margin-right: @spacing-s;
    }
}

.successknapper {
    display: flex;

    > :not(:last-child) {
        margin-right: @spacing-s;
    }
}
