.oppsummeringspar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > p {
        flex: 1;
    }

    > :last-child {
        align-self: flex-end;
    }
}

.oppsummeringspar2 {
    display: flex;
    flex-direction: column;
}
