@import '~/src/styles/variables.less';

.oppsummeringspar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > p {
        flex: 1;
    }

    > :last-child {
        align-self: flex-end;
    }

    .verdi {
        border-right: 1px solid @navBorder;
        margin-right: @spacing-xs;
    }
}

.oppsummeringspar2 {
    display: flex;
    flex-direction: column;
}
