@import '~/src/styles/variables.less';

.oppsummeringspar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > p {
        flex: 1;
    }
}

.oppsummeringspar2 {
    display: flex;
    flex-direction: column;
}
