@import '~/src/styles/variables.less';

.yearRangeInputsContainer {
    display: flex;
    gap: @spacing;
    align-items: flex-start;

    > :last-child {
        position: relative;
        height: 20px;
        top: 45px;
    }
}
