@import '~/src/styles/variables.less';

.detaljertSimuleringsPeriodeModalContainer {
    margin-bottom: @spacing-s;
}

.detaljerKnapp {
    padding: 0;
}

.gruppertSimuleringsperioder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: @spacing-s;
}

.accordionHeader {
    margin-bottom: @spacing-xxs;
    display: flex;
    justify-content: space-between;

    .periodeOgSum {
        display: flex;
        justify-content: space-between;
        gap: @spacing;
    }
}

.kontooversiktContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: @spacing;
    padding: 0 1rem;
    margin-bottom: @spacing-s;
}

.beløp {
    text-align: end;
}

.tilUtbetalingDetaljering {
    margin-left: @spacing-xs;
}
