@import '@styles/variables.less';

.formContainer {
    position: sticky;
    top: 50px;
}

.textareaContainer {
    max-width: 45rem;

    label {
        width: 100%;
    }

    textarea {
        width: 100%;
        max-width: 100%;
    }
}
