@lysLilla: #e0dae7;
@lilla: #634689;

.søknadPeriode {
    //bruker important slik at den originale fargen vises ved klikking av perioden
    background: @lysLilla !important;
    border: 1px solid @lilla;
    box-shadow: inset 0 0 0 0 @lilla;
}
