//Hvis vi ikke har denne, så kan man skrolle i x-aksen ut over skjermen...
.vedtakstidslinjeContainer {
    overflow: hidden;
}

.popoverContent {
    width: 100%;
}

.lukkKnappContainer {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;

    p {
        display: flex;
        align-items: center;
    }
}

.lukkKnappTekst {
    display: flex;
    align-items: center;
}

.icon() {
    content: '';
    position: absolute;
    height: 15px;
    width: 20px;
    left: 6px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
}

//rules forstår ikke æ, ø, å

@revurderingBlyantIkon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='15' viewBox='0 0 20 15' fill='none'> <path d='M0 14.388V0H4.862C5.61 0 6.30667 0.0733333 6.952 0.22C7.59733 0.366667 8.15467 0.608668 8.624 0.946001C9.09333 1.26867 9.46 1.70133 9.724 2.244C10.0027 2.78667 10.142 3.46133 10.142 4.268C10.142 5.368 9.878 6.25533 9.35 6.93C8.83667 7.60467 8.14733 8.08867 7.282 8.382L9.27401 11.1953L8.54041 13.5563C8.43895 13.8828 8.00109 13.9398 7.8195 13.65L4.752 8.756H2.552V14.388H0ZM2.552 6.732H4.598C5.58067 6.732 6.32867 6.52667 6.842 6.116C7.37 5.70533 7.634 5.08933 7.634 4.268C7.634 3.432 7.37 2.85267 6.842 2.53C6.32867 2.20733 5.58067 2.046 4.598 2.046H2.552V6.732Z' fill='%23262626'/> <path fill-rule='evenodd' clip-rule='evenodd' d='M14.869 7.35276L11.3255 10.8956L13.7879 13.358L17.4689 9.677L15.0065 7.21455L14.869 7.35276Z' fill='black'/> <path fill-rule='evenodd' clip-rule='evenodd' d='M10.1891 14.0205C10.1499 14.1548 10.1875 14.2992 10.2866 14.3975C10.3588 14.4704 10.457 14.5096 10.5576 14.5096C10.593 14.5096 10.6283 14.505 10.6628 14.495L13.1337 13.7894L10.8947 11.5504L10.1891 14.0205Z' fill='black'/> <path fill-rule='evenodd' clip-rule='evenodd' d='M19.2764 7.32729L17.3568 5.40771C17.2071 5.25798 16.9637 5.25798 16.8139 5.40771L15.5493 6.67156L18.0117 9.13401L19.2764 7.87015C19.3478 7.79797 19.3885 7.70046 19.3885 7.59834C19.3885 7.49622 19.3478 7.3987 19.2764 7.32729Z' fill='black'/> </svg>");
@checkmarkIkon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.99143 8.06567L11.5228 1L13 2.38591L3.8182 11L1 7.69506L2.63135 6.47068L3.99143 8.06567Z' fill='%23262626' stroke='%23262626' stroke-width='0.8'/%3E%3C/svg%3E");
@soknadIkon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='15' viewBox='0 0 11 15' fill='none'%3E%3Cpath d='M5.48 14.24C4.6 14.24 3.74667 14.0733 2.92 13.74C2.10667 13.4067 1.38667 12.9333 0.76 12.32L2.12 10.74C2.58667 11.18 3.12 11.54 3.72 11.82C4.32 12.0867 4.92 12.22 5.52 12.22C6.26667 12.22 6.83333 12.0667 7.22 11.76C7.60667 11.4533 7.8 11.0467 7.8 10.54C7.8 9.99333 7.60667 9.6 7.22 9.36C6.84667 9.12 6.36667 8.87333 5.78 8.62L3.98 7.84C3.55333 7.65333 3.13333 7.41333 2.72 7.12C2.32 6.82667 1.98667 6.45333 1.72 6C1.46667 5.54667 1.34 5 1.34 4.36C1.34 3.66667 1.52667 3.04667 1.9 2.5C2.28667 1.94 2.80667 1.5 3.46 1.18C4.12667 0.846666 4.88667 0.68 5.74 0.68C6.5 0.68 7.23333 0.833333 7.94 1.14C8.64667 1.43333 9.25333 1.83333 9.76 2.34L8.58 3.82C8.16667 3.47333 7.72667 3.2 7.26 3C6.80667 2.8 6.3 2.7 5.74 2.7C5.12667 2.7 4.62667 2.84 4.24 3.12C3.86667 3.38667 3.68 3.76 3.68 4.24C3.68 4.57333 3.77333 4.85333 3.96 5.08C4.16 5.29333 4.42 5.48 4.74 5.64C5.06 5.78667 5.4 5.93333 5.76 6.08L7.54 6.82C8.31333 7.15333 8.94667 7.59333 9.44 8.14C9.93333 8.67333 10.18 9.41333 10.18 10.36C10.18 11.0667 9.99333 11.7133 9.62 12.3C9.24667 12.8867 8.70667 13.36 8 13.72C7.30667 14.0667 6.46667 14.24 5.48 14.24Z' fill='%23262626'/%3E%3C/svg%3E");
@stansIkon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M6.9994 0C3.14697 0 0.00731809 3.0733 1.37436e-05 6.85165C-0.00363843 8.68561 0.720709 10.4109 2.04036 11.7106C3.36001 13.0096 5.11671 13.7272 6.98662 13.7308H7.00001C10.8518 13.7308 13.9921 10.6569 14 6.87792C14.0073 3.09301 10.8731 0.00716388 6.9994 0Z' fill='%233E3832'/%3E%3Cpath d='M6.9 5.9351L9.19289 3.6863C9.44616 3.4379 9.85678 3.4379 10.1101 3.6863C10.3633 3.93469 10.3633 4.33742 10.1101 4.58582L7.81716 6.83462L10.1101 9.08341C10.3633 9.33181 10.3633 9.73454 10.1101 9.98293C9.85678 10.2313 9.44616 10.2313 9.19289 9.98293L6.9 7.73414L4.60711 9.98293C4.35384 10.2313 3.94322 10.2313 3.68995 9.98293C3.43668 9.73454 3.43668 9.33181 3.68995 9.08341L5.98284 6.83462L3.68995 4.58582C3.43668 4.33742 3.43668 3.93469 3.68995 3.6863C3.94322 3.4379 4.35384 3.4379 4.60711 3.6863L6.9 5.9351Z' fill='white'/%3E%3C/svg%3E");
@handMedPengerIkon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.48 2.5557C11.48 3.6365 10.6008 4.5157 9.52002 4.5157C8.43922 4.5157 7.56002 3.6365 7.56002 2.5557C7.56002 1.47434 8.43922 0.595703 9.52002 0.595703C10.6008 0.595703 11.48 1.47434 11.48 2.5557ZM9.52001 1.71574C9.36545 1.71574 9.24001 1.84118 9.24001 1.99574V3.11574C9.24001 3.2703 9.36545 3.39574 9.52001 3.39574C9.67401 3.39574 9.80001 3.2703 9.80001 3.11574V1.99574C9.80001 1.84118 9.67401 1.71574 9.52001 1.71574ZM0.28 7.87551H2.52C2.674 7.87551 2.8 8.00095 2.8 8.15551V12.3555C2.8 12.5101 2.674 12.6355 2.52 12.6355H0.28C0.12544 12.6355 0 12.5101 0 12.3555V8.15551C0 8.00095 0.12544 7.87551 0.28 7.87551ZM11.3915 9.56993C12.1335 9.35769 12.7008 9.54081 13.3582 10.1977C13.4215 10.2615 13.4506 10.3523 13.4372 10.4413C13.4226 10.5309 13.3666 10.6071 13.286 10.6474C11.7387 11.4207 10.6988 12.0149 9.93944 12.4489C8.792 13.1047 8.24264 13.4059 7.60032 13.4059C7.0616 13.4059 6.45736 13.1937 5.37768 12.8011C4.82888 12.6012 4.14568 12.3531 3.27152 12.0614C3.15728 12.0233 3.08 11.9163 3.08 11.7959V8.71593C3.08 8.56137 3.20544 8.43593 3.36 8.43593H4.2C5.48352 8.43593 6.26472 9.21713 6.52176 9.47417C6.5744 9.52625 6.64552 9.55593 6.72 9.55593H6.83312H8.4C9.0076 9.55593 9.17 10.0835 9.17 10.3959C9.17 10.6205 9.09776 10.8355 8.97176 10.9867C8.834 11.1519 8.64192 11.2359 8.4 11.2359H5.6C5.44544 11.2359 5.32 11.3614 5.32 11.5159C5.32 11.6705 5.44544 11.7959 5.6 11.7959H8.4C8.80992 11.7959 9.15712 11.6397 9.4024 11.3451C9.61352 11.0915 9.73 10.7543 9.73 10.3959C9.73 10.3063 9.7216 10.2173 9.70704 10.1294L11.3915 9.56993ZM7.00001 8.43541C8.08081 8.43541 8.96001 7.55621 8.96001 6.47541C8.96001 5.39405 8.08081 4.51541 7.00001 4.51541C5.91921 4.51541 5.04001 5.39405 5.04001 6.47541C5.04001 7.55621 5.91921 8.43541 7.00001 8.43541ZM6.72 5.91544C6.72 5.76088 6.84544 5.63544 7 5.63544C7.154 5.63544 7.28 5.76088 7.28 5.91544V7.03544C7.28 7.19 7.154 7.31544 7 7.31544C6.84544 7.31544 6.72 7.19 6.72 7.03544V5.91544Z' fill='%233E3832'/%3E%3C/svg%3E");

//backgrounds
@lysRod: #f1d8d4;
@lysGul: #ecefcc;
@lysGronn: #cde7d8;
@lysLilla: #e0dae7;

//borders
@1pxSolid: 1px solid;

//border farger
@gulGronn: #666e00;
@gronn: #117938;
@rod: #ba3a26;
@lilla: #634689;

//Important er for å override komponentens background. Fant ikke en annen måte å gjøre det på
.endringPeriode {
    background: @lysGul !important;
    border: @1pxSolid @gulGronn !important;
}

.endringIkon::after {
    .icon();
    background-image: @revurderingBlyantIkon;
}

.gjenopptakAvYtelsePeriode {
    background: @lysGronn !important;
    border: @1pxSolid @gronn !important;
}

.gjenopptakAvYtelseIkon::after {
    .icon();
    background-image: @checkmarkIkon;
}

.opphørPeriode {
    background: @lysRod !important;
    border: @1pxSolid @rod !important;
}

.opphørIkon::after {
    .icon();
    background-image: @revurderingBlyantIkon;
}

.søknadPeriode {
    background: @lysLilla !important;
    border: @1pxSolid @lilla !important;
}

.søknadIkon::after {
    .icon();
    background-image: @soknadIkon;
}

.stansPeriode {
    background: @lysRod !important;
    border: @1pxSolid @rod !important;
}

.stansIkon::after {
    .icon();
    background-image: @stansIkon;
}

.reguleringPEriode {
    background: @lysGronn !important;
    border: @1pxSolid @gronn !important;
}

.reguleringIkon::after {
    .icon();
    background-image: @handMedPengerIkon;
}
