@import '~/src/styles/variables.less';

.tittel {
    margin: @spacing 0;
}

.ieu {
    margin-bottom: @spacing;
}

.kategoriTittel {
    margin-bottom: @spacing-xs;
}

.submit {
    margin-top: @spacing;
}
