@import '~/src/styles/variables.less';

.oppsummeringsContainer {
    max-width: 60%;
}

.oppsummeringAvResultat {
    margin-bottom: @spacing-s;
}

.grunnlagslisteAsFlex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: @spacing;
}

.grunnlagslisteAsGrid {
    display: grid;
    gap: 0.5rem;
    margin-bottom: @spacing;
}

.formueGrunnlagContainer {
    margin-bottom: @spacing;
}

.formueTripple {
    display: flex;
    justify-content: space-between;

    .verdiPairMedEPS {
        display: grid;
        grid-template-columns: 4rem 8rem;

        .verdi {
            text-align: right;
        }
    }
}
