@import '~/src/styles/variables.less';

.oppsummeringAvResultat {
    margin-bottom: @spacing-s;
}

.grunnlagsListe {
    > :not(:last-child) {
        margin-bottom: @spacing-xxs;
    }
    margin-bottom: @spacing;
}

.formueGrunnlagContainer {
    margin-bottom: @spacing;
}

.formueTripple {
    display: flex;
    justify-content: space-between;

    .verdiPairMedEPS {
        display: grid;
        grid-template-columns: 5rem 8rem;

        .verdi {
            text-align: right;
        }
    }
}

.utenlandsinntektContainer {
    padding-left: @spacing;
}
