@import '@styles/variables.less';

.container {
    border: 1px solid @navBorder;
    border-radius: @border-radius-base;
    background-color: @navBakgrunn;
    height: max-content;
}

.lilla {
    background-color: var(--a-purple-100);
}
.grønn {
    background-color: var(--a-green-100);
}
.blå {
    background-color: var(--a-deepblue-100);
}
.limegrønn {
    background-color: var(--a-limegreen-100);
}

.tittel {
    padding: @spacing-xs;
    display: flex;
    align-items: center;

    .ikon {
        margin-right: @spacing-xs;
    }
}

.tittel_kompakt {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;

    .ikon {
        margin-right: @spacing-xxs;
    }
}

.content {
    padding: @spacing;
}
