@import '~/src/styles/variables.less';

.container {
    border-right: 1px solid @navBorder;
    display: flex;
    flex-direction: column;
    padding: @spacing-s @spacing-s 0 @spacing-s;
    width: 13rem;
}

.linje {
    display: flex;
    margin-bottom: @spacing-xs;
    align-items: center;
}

.icon {
    margin-right: @spacing-xxs;
    font-size: 29px;
    min-width: 29px;
    display: flex;
    align-items: center;
}

.iconGreen {
    color: var(--a-surface-success);
}

.iconRed {
    color: var(--a-surface-danger);
}

.iconYellow {
    color: var(--a-surface-warning);
}

.link {
    color: black;

    :visited {
        color: black;
    }

    :hover {
        color: var(--a-blue-500);
    }
}
