@import '~/styles/variables.less';

.container {
    border-right: 1px solid @navBorder;
    display: flex;
    flex-direction: column;
    padding: @spacing-s @spacing-s 0 @spacing-s;
    width: 13rem;
}

.seksjonstittel {
    margin-bottom: @spacing-xxs;
}

.linje {
    display: flex;
    margin-bottom: @spacing-s;
    align-items: center;
}

.icon {
    margin-right: @spacing-xxs;
}

.link {
    color: black;
    :visited {
        color: black;
    }
    :hover {
        color: @navBla;
    }
}
