@import '~/src/styles/variables.less';

.frioppslagContainer {
    display: flex;
    gap: @spacing;
}

.formContainer {
    margin-bottom: @spacing;
}

.upperFormContainer {
    display: flex;
    gap: @spacing-s;
    margin-bottom: @spacing-s;
}

.formInputContainers {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;

    label {
        width: 100%;
    }
}

.fnrLabel {
    display: flex;
    justify-content: space-between;
}

.buttonContainers {
    display: flex;
    gap: @spacing-s;
    margin-bottom: @spacing-s;
}
