@import '~/src/styles/variables.less';

.tittelOgRefreshContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .refreshButton {
        padding: 0.5rem;
    }
}

.frioppslagContainer {
    display: flex;
    gap: @spacing;

    .frioppslagForm {
        display: flex;
        flex-direction: column;
        gap: @spacing-s;
        align-items: flex-start;
    }

    .begrunnelse {
        width: 25rem;
    }
}
