@import '~/src/styles/variables.less';

.tittelOgRefreshContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .refreshButton {
        padding: 0.5rem;
    }
}

.frioppslagContainer {
    display: flex;
    gap: @spacing;
}

.formContainer {
    margin-bottom: @spacing;
}

.upperFormContainer {
    display: flex;
    gap: @spacing-s;
    margin-bottom: @spacing-s;
}

.formInputContainers {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.buttonContainers {
    display: flex;
    gap: @spacing-s;
    margin-bottom: @spacing-s;
}
