@import '@styles/variables.less';

.fradragContainer {
    width: 100%;
}

.fradragItemContainer {
    margin-bottom: @spacing;
    > :not(:last-child) {
        margin-bottom: @spacing-xs;
    }
}

.tittelOgSøppelbøtteContainer {
    display: flex;
    justify-content: space-between;
}

.fradragTypeOgBelopContainer {
    display: flex;
    justify-content: space-between;
    gap: @spacing-xs;

    .fradragTypeOgBelopInputs {
        flex-grow: 1;
        display: flex;
        gap: @spacing-xs;
    }

    .søppelbøtteContainer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.spesifiserFradragsTypeContainer {
    display: flex;
}

.checkboxContainer {
    display: flex;

    .checkbox {
        padding-right: @spacing-xs;
    }
}

.utlandOgPeriodeContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: @spacing-xxs;
    align-items: flex-end;

    .description {
        font-weight: normal;
        font-size: 0.9rem;
    }
}

.leggTilNyttFradragContainer {
    width: @knappBredde;
}
