@import '@styles/variables.less';

.vedtaksContainer {
    max-width: 950px;
    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.brevvalgBegrunnelse {
    margin-top: @spacing-s;
}

.vedtakOgBehandlingInfoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: @spacing-xs;
    margin-bottom: @spacing-xs;
}

.knappOgApiErrorContainer {
    margin-bottom: @spacing-s;
    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
    .knapp {
        width: @knappBredde;
    }
}

.beregningOgSimuleringsContainer {
    display: flex;
    gap: @spacing-xs;

    .column {
        width: 50%;
    }
}

.formkravContainer {
    margin-bottom: @spacing;
}
