@import '@styles/variables.less';

.kontrollsamtalerContainer {
    display: grid;
    flex-direction: column;
    gap: @spacing-s;
    max-height: 500px;
    padding-right: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

//-- På windows vil scrollbars vanligvis alltid vises, mens på mac gjør dem ikke. det kan gjøre det vanskelig å se om containeren med kontrollsamtalen kan scrolles gjennom --------
.kontrollsamtalerContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.kontrollsamtalerContainer::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

//-----------------------------------------------------------------------
