@import '@styles/variables.less';

.kontrollsamtalerContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    max-height: 500px;
    padding-right: 2rem;
    overflow: auto;
}
