@import '@styles/variables.less';

.panelContainer {
    width: 30rem;
}

.opprettNyKontrollsamtaleFormContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;

    .buttonsContainer {
        display: flex;
        gap: @spacing;
        align-self: flex-end;
    }
}
