@import '@styles/variables.less';

.epsFormContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.formItemContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
    padding: @spacing-s;
}

.modalInnhold {
    padding: @spacing-xs;
    max-width: @container-sm;
}

.modalTekst {
    margin: @spacing 0;
}
