@import '~/src/styles/variables.less';

.epsFormContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.formItemContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
    padding: @spacing-s;
}
