@import '~/styles/variables.less';

.janeisporsmal {
    display: flex;
    flex-direction: column;
    .svarContainer {
        display: flex;

        .svar {
            flex: 1;

            &:not(:first-of-type) {
                margin-left: @spacing-s;
            }
        }
    }
}

.hjelpetekstContainer {
    margin-top: -0.5rem;

    .hjelpetekstKnapp {
        border: none;
        padding: 0;
        background-color: white;
        color: #0067c5;
        margin-bottom: @spacing-xxs;
        text-decoration: underline;
        cursor: pointer;
    }

    .hjelpetekstBody {
        margin-bottom: @spacing-xs;
        animation-duration: 0.7s;
        animation-timing-function: ease;

        &.hjelpetekstBodyFirstLoad {
            height: 0px;
            overflow: hidden;
        }

        &.hjelpetekstBodyOpen {
            overflow: hidden;
            animation-name: slideDown;
            @keyframes slideUp {
                0% {
                    height: 4em;
                    max-height: 100%;
                }

                100% {
                    height: 0px;
                    max-height: 0%;
                }
            }
        }

        &.hjelpetekstBodyClosed {
            height: 0px;
            overflow: hidden;
            animation-name: slideUp;

            @keyframes slideDown {
                0% {
                    height: 0px;
                    max-height: 0%;
                }

                100% {
                    height: 4em;
                    max-height: 100%;
                }
            }
        }
    }
}
