@import '~/styles/variables.less';

.janeisporsmal {
    .svarContainer {
        display: flex;

        .svar {
            flex: 1;

            &:not(:first-of-type) {
                margin-left: @spacing-s;
            }
        }
    }
}
