@import '~/styles/variables.less';
// TODO: Bruk nav standard spacing
.hendelseslogg {
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    padding: 0 24px;
    padding-top: 12px;
    max-height: 100vh;
    overflow-y: scroll;

    .connection {
        display: flex;
        flex-direction: column;
        color: @navgra60;
        .circle {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            flex-shrink: 0;
            display: inline-block;
            border: 1px solid;
            margin-right: 12px;
            margin-top: 4px;
        }

        .dottedLine {
            height: 100%;
            border-left: 1px dotted;
            margin-left: 6px;
        }
    }

    .hendelse {
        display: flex;

        .content {
            .undertekst {
                color: @navgra60;
            }
            .melding {
                margin: 12px 0;
            }
        }
    }
}
