@import '~/styles/variables.less';

.menyknapp {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    background: none;
    border: none;
    color: @white;
}

.chevron {
    padding: @spacing-xxs;
}
