@import '~/styles/variables.less';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .label {
        display: flex;
        gap: @spacing-xxs;
    }

    .popper {
        z-index: 3;
    }
}
