@import '~/styles/variables.less';

.modalContainer {
    display: flex;
    flex-direction: column;
    padding: @spacing-s;

    .modalTittel {
        margin-bottom: @spacing-xs;
    }

    .modalKnappContainer {
        margin-top: @spacing;
        align-self: flex-end;
    }
}
