@import '~/src/styles/variables.less';

.detaljerKnapp {
    padding: 0;
}

.bruttoYtelseContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: @spacing;
}

.gruppertSimuleringsperioder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: @spacing-s;
}

.collapsableTittel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-bottom: @spacing-xxs;

    > :first-child {
        text-align: start;
    }
}

.kontooversiktContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: @spacing;
    padding: 0 1rem;
    margin-bottom: @spacing-s;
}

.kontooversiktInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.beløp {
    text-align: end;
}
