@import '~/src/styles/variables.less';

.simuleringsHeader {
    display: flex;
    justify-content: flex-start;
}

.linjeDetaljer {
    margin-bottom: @spacing-s;
}

.linjeTittelDetaljer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: @spacing;
    width: 100%;
}

.linjeTittel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: @spacing;
    width: 100%;
}

.linje {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: @spacing-xxs;
    margin-bottom: @spacing-s;

    :last-child {
        text-align: end;
    }
}

.totalt {
    margin-bottom: @spacing;
}

.grupertSimulering {
    margin-bottom: @spacing;
}

.simuleringsdetaljerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
}

.detalje {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.periode,
.type,
.beløp {
    display: flex;
    align-items: center;
}

.beløp,
.type {
    justify-content: flex-end;
}

.detaljerKnapp {
    padding: 0;
}
