@import '~/styles/variables.less';

.fradragContainer {
    margin-bottom: @spacing;
}

.fradragItemContainer {
    margin-bottom: @spacing;
}

.fradragTypeOgBelopContainer {
    display: flex;
    justify-content: space-between;

    .fradragtype {
        margin-right: @spacing-s;
    }
}
