@import '~/styles/variables.less';

.ektefellePartnerSamboer {
    margin-bottom: @spacing-l;

    .fnrInputContainer {
        margin-bottom: @spacing-s;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: @spacing-s;

        .fnrInput {
            flex-grow: 1;
        }

        .result {
            flex-shrink: 0;
        }
    }
}

.formuePanelerContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: @spacing-s;
}

.formuePanel {
    .formueInputs {
        width: 50%;
        margin-bottom: @spacing;

        > :not(:last-child) {
            margin-bottom: @spacing-xs;
        }
    }

    .nyBeregningContainer {
        margin-bottom: @spacing;
    }
}

.henteMerInfoCheckbox {
    margin-top: @spacing-xs;
    margin-bottom: @spacing-s;
}

.modalInnhold {
    padding: @spacing-xs;
    max-width: @container-sm;
}

.modalTekst {
    margin: @spacing 0;
}
