@import '@styles/variables.less';

.rightContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.avvikFraSøknadListe {
    list-style-type: disc;
    list-style-position: inside;
}

.avvikFraSøknadInnhold {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}
