@import '~/styles/variables.less';

.container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: @spacing-xs @spacing;
    border-bottom: 1px solid @navBorder;
}

.icon {
    margin-right: @spacing-xs;
    width: 24px;
    height: 24px;
}

.navn {
    text-transform: uppercase;
}

.saksnummer {
    display: flex;
    align-items: center;
}

.separator {
    margin: 0 @spacing-xs;
}
