@import '~/styles/variables.less';

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: @spacing-xs;
    border-bottom: 1px solid @navBorder;
}

.extra {
    display: flex;
    align-items: center;
}

.saksnummer {
    display: flex;
    align-items: center;
    margin-right: @spacing-xs;
}

.separator {
    margin-right: @spacing-xs;
}
