@import '~/src/styles/variables.less';

.pageContainer {
    width: 100%;
}

.pageTittel {
    width: 100%;
    padding: @spacing-xs 13rem;
    border-bottom: 1px solid @navBorder;
}

.contentContainerMedFramdriftsindikator {
    display: flex;
    width: 100%;
}
