@import '~/styles/variables.less';

.uføreAndFeilmeldingInputContainer {
    margin-bottom: @spacing-s;

    .uføreInputContainer {
        display: flex;
        align-items: center;
        margin-right: @spacing-s;

        .uførehetInputFelt {
            margin-right: @spacing-xxs;
        }
    }
}

.radioGruppe {
    margin-bottom: @spacing-xxs;
}
