@import '@styles/variables.less';

.skattegrunnlagsInfoContainer {
    margin-bottom: @spacing-s;
}

.årsgrunnlagContainer {
    margin-bottom: @spacing;
}

.årsgrunnlaginformasjonContainer {
    margin-bottom: @spacing-s;
}

.grunnlagslisteContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.grunnlagsinformasjonContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}
