@import '~/src/styles/variables.less';

.skattegrunnlagsInformasjonContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    gap: @spacing-s;
}

.årsgrunnlagMedTittelContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.årsgrunnlaginformasjonContainer {
    margin-bottom: @spacing-s;
}

.grunnlagslisteContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.grunnlagsinformasjonContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}
