@import '~/src/styles/variables.less';

.skattegrunnlag {
    margin-top: @spacing;
    max-width: 75%;

    .light {
        font-weight: normal;
    }

    .italic {
        font-style: italic;
    }

    .eps {
        margin-top: @spacing-xs;
    }
}
