@import '~/src/styles/variables.less';

.seSkattegrunnlagKnapp {
    padding: 0 !important;
}

.skattegrunnlagsmodal {
    margin-top: @spacing;
    margin-bottom: @spacing-s;
    min-width: 800px;
}
