@import '~/src/styles/variables.less';

.beregningdetaljer {
    .linje {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: @spacing-xxs;

        :last-child {
            text-align: end;
        }
    }

    .totalt {
        margin-bottom: @spacing;
    }

    .fradragliste {
        width: 100%;
        margin-bottom: @spacing;

        li {
            margin-bottom: @spacing-xs;
        }
    }

    .detailedLinje {
        margin-left: @spacing-xs;
    }

    .additionalDetails {
        margin-left: @spacing;
    }

    .alignTextRight {
        text-align: right;
    }
}

.seSkattegrunnlagKnapp {
    padding: 0 !important;
}
