@import '~/styles/variables.less';

.fradragContainer {
    width: 100%;
}

.fradragItemContainer {
    margin-bottom: @spacing;
}

.fradragTypeOgBelopContainer {
    display: flex;
    margin-bottom: @spacing-s;
    justify-content: flex-start;

    > :not(:last-child) {
        margin-right: @spacing-xs;
    }

    .fradragtype {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .søppelbøtteContainer {
        align-self: flex-end;
        height: 40px;
        width: 40px;
        padding: 0px;
    }
}

.checkboxContainer {
    display: flex;
    .checkbox {
        padding-right: @spacing-xs;
    }
}

.utlandOgPeriodeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-auto-flow: column;

    column-gap: @spacing-xxs;

    .label {
        grid-row-start: 1;
    }
}

.leggTilNyttFradragContainer {
    display: flex;
}

.inputOgtekstContainer {
    display: flex;
    align-items: center;

    .inputWithFollowTextInputfelt {
        margin-bottom: 0px;
        margin-right: @spacing-xxs;
    }
}
