@import '~/src/styles/variables.less';

.oppsummeringsContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
    align-items: flex-start;

    .brevButton {
        width: @knappBredde;
    }
}
