@import '~/styles/variables.less';

.underkjennelsesInformasjonsContainer {
    display: flex;

    > :not(:last-child) {
        margin-right: @spacing-s;
    }
}

.informasjonsElementContainer {
    margin-bottom: @spacing-xs;
}

.ikon {
    margin-bottom: @spacing-xs;
    margin-right: @spacing-xs;
}

.tidspunkt {
    white-space: nowrap;
}

.grunn {
    white-space: nowrap;
}

.kommentar {
    white-space: pre-wrap;
    max-width: 750px;
}
