@import '~/styles/variables.less';

.underkjentAttesteringContainer {
    display: grid;
    grid-template-columns: 130px 225px 1fr;
    margin-bottom: @spacing-xs;
}

.ikon {
    margin-bottom: @spacing-xs;
    margin-right: @spacing-xs;
}

.kommentar {
    white-space: pre-wrap;
    max-width: 750px;
}
