.liste li {
    margin-bottom: var(--navds-spacing-4);

    &:only-child {
        .slettContainer {
            visibility: hidden;
        }
    }
}

.itemContainer {
    width: 100%;
    display: flex;
    gap: var(--navds-spacing-4);
}

.itemContent {
    flex: 1;
}
