@import '~/styles/variables.less';

.selectContainer {
    margin-bottom: @spacing-s;
}

.datoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @spacing;
}

.seBrevKnapp {
    margin-right: @spacing-xs;
}
