@import '@styles/variables.less';

.pageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
}

.content {
    width: 100%;
}
