@import '~/styles/variables.less';

.feilContainer {
    margin-top: @spacing-xl;
}

.suksessContainer {
    margin-top: @spacing-l;
    display: flex;
    justify-content: center;
    margin-bottom: @spacing-xl;

    > :not(:last-child) {
        margin-right: @spacing-xxl;
    }

    @media (max-width: @screen-md) {
        flex-direction: column;
    }
}

.senderSøknadSpinnerContainer {
    display: flex;
    justify-content: center;
}

.tilVeileder {
    margin-top: @spacing-l;

    h3 {
        margin-bottom: @spacing-xs;
    }

    ol {
        list-style: decimal inside;

        li {
            margin-bottom: @spacing-xs;
        }
    }
}

.list {
    .listItem {
        display: list-item;
        list-style-type: disc;
        margin-left: @spacing;
    }
}

.nySøknadKnapp {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .avsluttKnapp {
        margin-right: @spacing;
    }

    .errorMessageContainer {
        display: flex;
        margin-bottom: @spacing;
    }
}
