@import '~/styles/variables.less';

.contentContainer {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: @spacing-xxl;
}

.left {
    width: 50%;
    padding: @spacing-s;
    border-right: 1px solid @navBorder;

    textarea {
        max-width: 25.5rem;
    }
}

.rightContainer {
    width: 50%;
    padding: @spacing-s;
}

.right {
    position: sticky;
    top: 20px;
}
