@import '@styles/variables.less';

.contentContainer {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: @spacing-xxl;
}

.left {
    padding: @spacing-s;
    border-right: 1px solid @navBorder;

    textarea {
        max-width: 30rem;
    }
}

.rightContainer {
    padding: @spacing-s;
}

.right {
    position: sticky;
    top: 20px;
}

.width60 {
    width: 60%;
}

.width50 {
    width: 50%;
}

.width40 {
    width: 40%;
}
