@import '~/styles/variables.less';

.container {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.epsFormContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.grunnlagsliste {
    > * {
        margin-bottom: @spacing-xxs;
    }
}

.informasjonsbitContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: @spacing-xl;
    margin-bottom: @spacing-xxs;
}
