@import '~/styles/variables.less';

.todo {
    background-color: red;
}

.bosituasjonInputsContainer {
    margin-bottom: @spacing-xs;
}

.textAreaContainer {
    margin-bottom: @spacing;
    width: 50%;
}

.epsFnrInput {
    display: flex;
    flex-direction: column;

    .epsFnrInputContainer {
        color: red;
    }
}
