@import '~/src/styles/variables.less';

.container {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.nyPeriodeKnappContainer {
    display: flex;
    justify-content: flex-end;
}

.periodeliste {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.epsFormContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

.formItemContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
    padding: @spacing-s;
}

.periodeContainer {
    display: flex;
    gap: @spacing;
}

.slettknapp {
    margin-left: auto;
    height: min-content;
}

.formItemInputContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
}

//gjeldendeBosituasjon

.informasjonsbitContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: @spacing-xl;
    margin-bottom: @spacing-xxs;
}

.grunnlagsliste {
    > * {
        margin-bottom: @spacing-xxs;
    }
}
