@import '~/styles/variables.less';

.tittelContainer {
    margin: @spacing 0;

    .pageTittel {
        margin-bottom: @spacing-xs;
    }
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: @spacing-xs;
    border-bottom: 1px solid @navBorder;
}

.backButton {
    margin-bottom: @spacing-s;
}

.container {
    flex: 1;
    display: flex;
    width: 100%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search {
    padding-top: @spacing-xl;
}

.meny {
    padding: @spacing-s 0;
    border-right: 1px solid @navBorder;

    .menyItem {
        padding: @spacing-xxs @spacing-s;
        border-left: 4px solid transparent;

        &.aktiv {
            background-color: @navGraBakgrunn;
            border-left-color: @navBla;
            font-weight: 600;
        }
    }
}
