@import '@styles/variables.less';

.saksoversiktContainer {
    width: 100%;
}

.tittelContainer {
    margin: @spacing 0;

    .pageTittel {
        margin-bottom: @spacing-xs;
    }
}

.backButton {
    margin-bottom: @spacing-s;
}

.container {
    flex: 1;
    display: flex;
    width: 100%;
}
