@import '~/styles/variables.less';

.avvistContainer {
    margin-bottom: @spacing;
    margin-top: @spacing;
    display: flex;
    align-items: center;
    flex-direction: column;

    .textAreaContainer {
        margin-bottom: @spacing-s;
        width: 100%;
    }
}

.tilbakeKnappContainer {
    display: flex;
    justify-content: center;
}
