@import '~/styles/variables.less';

.formContainer {
    margin-bottom: @spacing-xxl;
}

.avvistContainer {
    margin-bottom: @spacing;
    margin-top: @spacing;

    .textAreaContainer {
        margin-bottom: @spacing-s;
    }

    .avvisButton {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

.tilbakeKnappContainer {
    display: flex;
    justify-content: center;
}
