@import '~/src/styles/variables.less';

.container {
    display: flex;
    flex-direction: column;
    gap: @spacing;

    .oppsummering {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: @spacing-xs;
        margin-bottom: @spacing;
    }

    .beregning {
        display: flex;
        gap: @spacing;
    }
}
