@import '~/styles/variables.less';

.headerContainer {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.container {
    display: flex;
    flex-flow: row;

    .side-menu {
        flex: 1 25%;
    }
}
