@import '~/styles/variables.less';

.headerContainer {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.container {
    display: flex;
}

.mainContent {
    display: flex;
    justify-content: center;
    width: 100%;
}
