@import '~/styles/variables.less';

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding-right: @spacing-xs;

    border-bottom: 2px solid @navLysGra;
}

.container {
    flex: 1;
    display: flex;
    width: 100%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: @spacing;
}
