@import '@styles/variables.less';

.personkortContainer {
    margin-bottom: @spacing;

    > :not(:last-child) {
        margin-bottom: @spacing-xxs;
    }
}

.accordion {
    margin-bottom: @spacing;
}

.nyBeregningContainer {
    margin-bottom: @spacing;
}

.formueInputs {
    width: 50%;
    margin-bottom: @spacing;

    > :not(:last-child) {
        margin-bottom: @spacing-xs;
    }
}
