@import '@styles/variables.less';

.modal {
    display: flex;
    flex-direction: column;
    gap: @spacing;
    padding: @spacing-s;
    min-width: 400px;
}

.divider {
    border: none;
    border-top: 1px solid var(--a-border-divider);
    margin: 0;
}

.uttrekkResultat {
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0;
    max-height: 300px;
    overflow: auto;
}
