@import '~/styles/variables.less';

.trygdeytelserContainer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-bottom: @spacing-l;

    .trippleFelter {
        display: flex;
        justify-content: space-around;
        margin-bottom: @spacing-xxs;
    }

    .fjernFeltButton {
        display: flex;
        align-self: flex-end;
    }
}
