@import '@styles/variables.less';

.container {
    width: 100%;
    margin-top: @spacing-l;
}

.header {
    display: flex;
    align-items: center;
    gap: @spacing-s;
    margin-bottom: @spacing-s;
}

.tabell {
    width: 100%;
}

.feilmelding {
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 300px;
    display: inline-block;
}
