@import '@styles/variables.less';

.container {
    display: flex;
    flex-direction: column;

    > :not(:last-child) {
        margin-bottom: @spacing-xs;
    }
}
.redigerContainer {
    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.knapperContainer {
    display: grid;
    grid-template-columns: repeat(2, @knappBredde);
    gap: @spacing;
    margin: @spacing 0;
}

.underkjennelsesFormContainer {
    display: flex;
    flex-direction: column;

    gap: @spacing-xs;
}
.fritekstareaOuterContainer {
    width: 100%;
    justify-content: flex-start;
}
.fritekstareaContainer {
    max-width: 30rem;
    display: flex;
    flex-direction: column;

    > :not(:last-child) {
        margin-bottom: @spacing-s;
    }
}

.knapper {
    display: grid;
    grid-template-columns: repeat(1, @knappBredde);
    margin: @spacing 0;
}
