@import '~/src/styles/variables.less';

.oppsummeringspar {
    display: flex;
    justify-content: space-between;
    gap: @spacing;
}

.vertikalt {
    display: flex;
    flex-direction: column;
}

.verdi {
    white-space: pre-wrap;
}
