@import '~/styles/variables.less';

.tittel {
    width: 100%;
    padding: @spacing-xs 10rem;
    border-bottom: 1px solid @navBorder;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .content {
        padding: @spacing-xs 10rem;
    }

    .select {
        max-width: 16rem;
    }

    .datepicker {
        margin-top: @spacing-s;
    }

    .begrunnelse {
        margin-top: @spacing-s;
        max-width: 24rem;
    }

    .bunnknapper {
        margin-top: @spacing-s;
        button:not(:first-child) {
            margin-left: @spacing-xs;
        }
    }
}

.stansOppsummering {
    display: flex;
    flex-direction: column;
    margin-top: @spacing-s;

    .iverksett {
        margin-top: @spacing-s;

        button:not(:first-child) {
            margin-left: @spacing-s;
        }
    }
}

.error {
    margin-top: 2rem;
}
