@import '~/styles/variables.less';

.gjeldendePeriode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: @spacing-xs;
}

.oppsummeringsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: @spacing;
}

.formueVerdiTittel {
    margin-bottom: @spacing-xxs;
}

.formueInfo {
    > :not(:last-child) {
        margin-bottom: @spacing-xxs;
    }
}

.formueVerdier {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.søkerOgEPSContainer {
    display: flex;

    > :not(:last-child) {
        margin-right: @spacing-xs;
        padding-right: @spacing;
        border-right: @navBorder 2px solid;
    }
}
