@import '~/styles/variables.less';

.periodeContainer {
    display: flex;
    padding: @spacing-xs 0 @spacing-l 0;
}

.fradragInputsContainer {
    margin-bottom: @spacing-xl;
}
.forventetInntektContainer {
    margin-bottom: @spacing-l;
}

.uføregrunnlagvisning {
    margin-bottom: @spacing-xs;
}

.uføregrunnlagrad {
    display: flex;
    justify-content: space-between;
}

.grunnlagsdata {
    display: flex;
    justify-content: space-between;
}

.grunnlagsdataelement {
    width: 45%;
}

.grunnlagsdataoverskrift {
    margin-bottom: @spacing;
}
