@import '~/styles/variables.less';

.fradragInputsContainer {
    margin-bottom: @spacing-xl;
}

.forventetInntektContainer {
    margin-bottom: @spacing-l;
}

.feiloppsummering {
    margin-bottom: @spacing-xl;
}

.grunnlagsdataPeriodeHeader {
    margin-bottom: @spacing-xs;
}
