@import '@styles/variables.less';

.formContainer {
    > :not(:last-child) {
        margin-bottom: @spacing;
    }
}

.formInputsContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
}

.knapperContainer {
    display: flex;
    gap: @spacing;
}
