@import './styles/variables.less';

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @spacing-xxl;

    &:focus {
        outline: none;
    }
}

.ikkeTilgangContainer {
    padding: @spacing-l;

    .overskrift {
        margin-bottom: @spacing-l;
    }
}
