@import '~/styles/variables.less';

.headerContainer {
    background-color: #3e3832;
    color: white;
    height: 3em;
    display: flex;
    align-items: center;

    .appName {
        margin-right: 2em;
        margin-left: 1em;
    }
}

.contentContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ikkeTilgangContainer {
    padding: @spacing-l;

    .overskrift {
        margin-bottom: @spacing-l;
    }
}
