@import './styles/variables.less';

body {
    font-family: 'Source Sans Pro', Helvetica, sans-serif !important;
    background-color: var(--a-gray-100);

    font-size: var(--a-font-size-medium);
}

#root {
    height: 100%;
}
