@import '~/styles/variables.less';

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ikkeTilgangContainer {
    padding: @spacing-l;

    .overskrift {
        margin-bottom: @spacing-l;
    }
}
