@import '~/styles/variables.less';

.tittel {
    width: 100%;
    padding: @spacing-xs 10rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: @spacing-s;

    .select {
        margin-top: @spacing-s;
        max-width: 16rem;
    }

    .begrunnelse {
        margin-top: @spacing-s;
        max-width: 24rem;
    }

    .iverksett {
        margin-top: @spacing-s;
        button:not(:first-child) {
            margin-left: @spacing-xs;
        }
    }

    .error {
        margin-top: @spacing-s;
    }

    .knapper {
        margin-top: @spacing-s;

        :not(:first-child) {
            margin-left: @spacing-s;
        }
    }
}
