@import '~/styles/variables.less';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @spacing-xxl;
}

.navigeringContainer {
    display: flex;
    justify-content: space-between;
    margin-top: @spacing;
}

.tittel {
    padding: @spacing-xs 0;
    border-bottom: 1px solid @navBorder;
    margin-bottom: @spacing;
}

.formElement {
    margin-bottom: @spacing;
}
