@import '~/styles/variables.less';

//Dette er ikke en 'shared' styling. den ligger her så jeg ikke trenger å lage en helt ny css fil for Attestering.tsx ;)
.attesteringsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
//-----------------------------------------------------------------------------------------------------------------------

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.navigeringContainer {
    display: flex;
    justify-content: space-between;
    margin-top: @spacing;
}

.tittel {
    padding: @spacing-xs 0;
    border-bottom: 1px solid @navBorder;
    margin-bottom: @spacing;
}

.formElement {
    margin-bottom: @spacing;
}
