@import '~/styles/variables.less';

.knapper {
    display: flex;
    align-items: flex-end;
    align-items: center;

    > :not(:last-child) {
        margin-right: @spacing;
    }
}

.suksessStatuserContainer {
    display: flex;
    padding-left: 10rem;
    margin-top: @spacing-xs;
}

.sakintroContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: @spacing-xxl;

    .pageHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: @spacing;

        .tittel {
            padding: @spacing-xs 10rem;
        }

        .headerKnapper {
            padding: @spacing-xs 10rem;

            > :not(:last-child) {
                margin-right: @spacing;
            }
        }
    }
}

.søknadOgUtbetalingContainer {
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
}

.søknadsContainer {
    margin-bottom: @spacing;

    .søknadsContainerTittel {
        margin-bottom: @spacing-xs;
    }

    .søknad {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: @spacing-xxs;
        padding-top: @spacing-s;
        padding-bottom: @spacing-s;

        .info {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            white-space: pre;

            .underkjennelseContainer {
                margin-top: @spacing-xxs;

                .underkjennelse {
                    display: flex;
                    flex-direction: row;

                    .underkjenningsinfo {
                        display: flex;
                        flex-direction: column;
                        margin-right: @spacing;
                        margin-top: @spacing-xs;
                    }
                }
            }

            .dato {
                display: flex;
            }
        }
    }
}

.behandlingContainer {
    display: flex;
}

.advarsel {
    margin-right: @spacing;
}

.startBehandlingKnapp {
    margin-right: @spacing-xs;
}

.flexColumn {
    flex-direction: column;
}

.ikonContainer {
    align-self: flex-start;
    display: flex;
    align-items: center;

    .ikon {
        margin-right: @spacing-xxs;
    }
    .ikonTekst {
        width: 50px;
    }
}

.feil {
    margin-top: @spacing-xs;
}

.startSøknadsbehandlingKnapperContainer {
    display: flex;
    flex-direction: column;

    .startSøknadsbehandlingKnapper {
        align-self: flex-end;
    }
}
