@import '~/styles/variables.less';

.sakintroContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    .tittel {
        padding: @spacing-xs 10rem;
        border-bottom: 1px solid @navLysGra;
        margin-bottom: @spacing;
    }
}

.søknadOgUtbetalingContainer {
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
}

.søknadsContainer {
    margin-bottom: @spacing;

    .søknadsContainerTittel {
        margin-bottom: @spacing-xs;
    }

    .søknad {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: @spacing-xxs;
        padding-top: @spacing-s;
        padding-bottom: @spacing-s;

        .info {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            white-space: pre;

            .dato {
                display: flex;
            }
        }
    }
}

.underkjennelse {
    display: flex;
    flex-direction: row;

    .underkjenningsinfo {
        display: flex;
        flex-direction: column;
        margin-right: @spacing;
        margin-top: @spacing;
    }
}

.behandlingContainer {
    display: flex;
}

.knapper {
    display: flex;
    align-items: flex-end;
    align-items: center;

    > :not(:last-child) {
        margin-right: @spacing;
    }
}

.ikonContainer {
    align-self: flex-start;
    display: flex;
    align-items: center;

    .ikon {
        margin-right: @spacing-xxs;
    }
    .ikonTekst {
        width: 50px;
    }
}
