.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.behandlingListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittel {
    margin-bottom: 24px;
}

.undertittel {
    margin-bottom: 16px;
}

.søknader > li {
    margin-bottom: 16px;
}

.førstegangsbehandling {
    display: flex;
    justify-content: space-between;
}
