@import '~/src/styles/variables.less';

.utbetalingContainer {
    margin-bottom: @spacing-xl;
}

.stønadsperiodeHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: @spacing-s;
}

.ikonContainer {
    display: flex;
    align-items: center;
    gap: @spacing-xxs;
}

.utbetalingContentContainer {
    display: flex;
    justify-content: space-between;

    .utbetalingsperiode {
        display: grid;
        grid-template-columns: 130px 70px auto;
        gap: @spacing;
        margin-bottom: @spacing-xxs;
    }

    .utbetalingKnappContainer {
        display: flex;
        align-items: flex-end;
    }
}
