@import '~/src/styles/variables.less';

.oppsummeringstrippel {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .oppsummeringsVerdier {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.verdiElement {
    display: flex;
    flex-direction: column;
    margin-bottom: @spacing-xxs;
}
