@import '~/styles/variables.less';

.ektefellePartnerSamboer {
    .fnrInput {
        margin-bottom: @spacing-s;
        display: flex;
        flex-direction: row;

        .result {
            margin-left: @spacing-s;
        }
    }
}

.formueInput {
    width: 10em;
    margin-bottom: @spacing-s;
}

.totalFormueContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: @spacing 0;

    .status {
        display: flex;
        flex-direction: row;
        align-items: center;

        .statusInformasjon {
            margin-left: @spacing-xxs;
        }
    }
}

.henteMerInfoCheckbox {
    margin-top: @spacing-xs;
}

.formueFraSøknad {
    font-weight: bold;
    font-size: 18px;
}

.formueFaktaBlokk {
    margin-bottom: @spacing-xxs;
}
