@import '~/styles/variables.less';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tittel {
        margin: @spacing 0;
    }

    .infoHeader {
        display: flex;
        margin-bottom: @spacing-l;

        > :not(:last-child) {
            margin-right: @spacing;
        }
    }
}
