@import '@styles/variables.less';

//----------- Header styles ------------------------------------
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: @spacing 0;

    .undertittel {
        display: flex;
    }
}

.illustrasjonContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: @spacing-s;

    &::before {
        position: absolute;
        content: '';
        background-color: var(--a-gray-100);
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
    }

    .illustrasjon {
        background-color: var(--a-orange-200);
        padding: @spacing-s;
        border-radius: 100%;
        z-index: 1;
    }
}

//-------------------------------------------------------------------

//------------- Page styles -----------------------------------------
.outerContainer {
    margin: @spacing-l 7.5vw;

    width: 100%;
    max-width: @container-desktop;
}

.container {
    background-color: @navBakgrunn;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing-l;
    padding: @spacing-l;

    .tilbakeknapp {
        width: fit-content;

        .knappInnhold {
            display: flex;
            align-items: center;
        }
    }
}

.columns {
    display: flex;
    gap: @spacing-l;
    align-items: flex-start;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    gap: @spacing-s;
    flex: 1 1 420px;
    min-width: 260px;
}

.loaderContainer {
    display: flex;
    justify-content: center;
}

.dokumentliste {
    > li:not(:last-child) {
        margin-bottom: @spacing-xs;
    }
}

.dokumentikon {
    margin-right: @spacing;
    width: 36px;
    height: 36px;
}

.linkPanelBeskrivelse {
    display: flex;
    gap: @spacing-xxs;
    align-items: center;

    .copyButton {
        padding: 0.5rem;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
    padding: @spacing 0;
}

.formButtonsContainer {
    display: flex;
    gap: @spacing-s;
}
