name: Bygg og deploy branch til dev

on: workflow_dispatch

env:
    IMAGE: docker.pkg.github.com/${{ github.repository }}/su-se-framover:${{ github.sha }}

jobs:
    build:
        name: Build and push Docker container
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3.0.0
              with:
                  node-version: '16.x'
            - name: install deps
              run: npm ci
            - name: lint and typecheck
              run: npm run lint-and-typecheck
            - name: build client
              run: npm run build
            - name: create sentry release
              run: npm run sentry-release
              env:
                  SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
            - name: Build and publish Docker image
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  docker build --tag ${IMAGE} .
                  echo ${GITHUB_TOKEN} | docker login --username ${GITHUB_REPOSITORY} --password-stdin https://docker.pkg.github.com
                  docker push ${IMAGE}

    deploy-to-both:
        name: Deploy to dev
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: dev-fss
                  RESOURCE: nais.yml
                  VARS: nais-dev.json
