name: Build non-master/main branches on push.
# If you want to deploy your branch see branch-deploy.yml
on:
    push:
        branches:
            - '*' # matches every branch that doesn't contain a '/'
            - '*/*' # matches every branch containing a single '/'
            - '**' # matches every branch
            - '!master' # excludes master
            - '!main' # excludes main (will probably replace master)

env:
    IMAGE: docker.pkg.github.com/${{ github.repository }}/su-se-framover:${{ github.sha }}

jobs:
    build:
        name: Build, test and type-check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3.0.0
              with:
                  node-version: '16.x'
            - name: install deps
              run: npm ci
            - name: lint and typecheck
              run: npm run lint-and-typecheck
            - name: build client
              run: npm run build
