name: Bygg og deploy ved push til master

on:
    # Trigger the workflow on push or pull request,
    # but only for the master branch
    push:
        branches:
            - master

env:
    IMAGE: docker.pkg.github.com/${{ github.repository }}/su-se-framover:${{ github.sha }}

jobs:
    build:
        name: Build and push Docker container
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - name: install deps
              run: npm ci
            - name: lint and typecheck
              run: npm run lint-and-typecheck
            - name: build client
              run: npm run build
            - name: Build and publish Docker image
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  docker build --tag ${IMAGE} .
                  docker login docker.pkg.github.com -u ${GITHUB_REPOSITORY} -p ${GITHUB_TOKEN}
                  docker push ${IMAGE}

    deploy-to-dev:
        name: Deploy to NAIS
        needs: build
        if: github.ref == 'refs/heads/master'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: dev-fss
                  RESOURCE: nais.yml
                  VARS: nais-dev.json

    generate-draft-release:
        name: Generate/update draft release
        runs-on: ubuntu-latest
        steps:
            # Drafts your next Release notes as Pull Requests are merged into "master"
            - uses: release-drafter/release-drafter@v5
              #with:
              # (Optional) specify config name to use, relative to .github/. Default: release-drafter.yml
              # config-name: my-config.yml
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
