name: Deploy til prod ved release

on:
    release:
        types: [published]

env:
    IMAGE: docker.pkg.github.com/${{ github.repository }}/su-se-framover:${{ github.sha }}

jobs:
    deploy_to_prod:
        name: Deploy to prod
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: prod-fss
                  RESOURCE: nais.yml
                  VARS: nais-prod.json
