@import '~/styles/variables.less';

.overskrift {
    margin-bottom: @spacing-xxs;
    color: @navGra60;
}

.fakta {
    display: flex;
    flex-direction: column;
    width: 100%;
    li {
        display: flex;
        .tittel {
            width: 60%;
            padding-right: @spacing-xs;
        }
        .verdi {
            width: 40%;
        }
    }
}

.faktaSpacing {
    height: @spacing;
    visibility: hidden;
}
