@import '~/src/styles/variables.less';

.radiougroup {
    margin-bottom: @spacing-s;
}

.fritesktOgVisBrevContainer {
    margin-bottom: @spacing;

    > :not(:last-child) {
        margin-bottom: @spacing-xs;
    }
}

.textareaLabel {
    //ganske så statisk verdi som setter loading ikonet på enden av textarea. Må sikkert endres dersom textarea endres
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.seBrevButton {
    width: @knappBredde;
}
