@import '~/src/styles/variables.less';

.fritesktOgVisBrevContainer {
    margin-bottom: @spacing;

    > :not(:last-child) {
        margin-bottom: @spacing-xs;
    }
}

.seBrevButton {
    width: @knappBredde;
}
