@import '~/src/styles/variables.less';

.radiougroup {
    margin-bottom: @spacing-s;
}

.textareaContainer {
    max-width: 45rem;

    label {
        width: 100%;
    }

    textarea {
        width: 100%;
        max-width: 100%;
    }
}
