@import '~/styles/variables.less';

.reiserad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: @spacing;
}

.dagerIUtlandetContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: @spacing;

    .dagerIUtland {
        margin-bottom: @spacing;
        font-size: x-large;
    }
}
