@import '~/styles/variables.less';

.reiseradContainer {
    padding: 0 @spacing-s;
    margin-bottom: @spacing;
}

.reiserad {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .fjernradknapp {
        align-self: flex-end;

        &.skjult {
            visibility: hidden;
        }
    }

    &.feltfeil {
        .fjernradknapp {
            align-self: center;
        }
    }
}

.dagerIUtlandetContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: @spacing;

    .dagerIUtland {
        margin-bottom: @spacing;
        font-size: x-large;
    }
}
