@import '~/styles/variables.less';

.periodeliste {
    display: flex;
    flex-direction: column;
    gap: @spacing;
    margin-bottom: @spacing;
}

.periodeContainer {
    display: flex;
    flex-direction: column;
    gap: @spacing;
    padding: @spacing-s;

    .horizontal {
        display: flex;
        gap: @spacing;
    }
}

.periodeInputContainer {
    width: 100%;
    display: flex;
}
.slettknapp {
    height: min-content;
}

.nyperiodeContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: @spacing;
}

.feiloppsummering {
    margin-bottom: @spacing;
}

.grunnlagsdataHeading {
    margin-bottom: @spacing;
}

.grunnlagsliste li {
    margin-bottom: @spacing-s;
}
