@import '~/src/styles/variables.less';

.inputOgtekstContainer {
    display: flex;
    align-items: center;

    .inputWithFollowTextInputfelt {
        margin-bottom: 0;
        margin-right: @spacing-xxs;
    }
}
